<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>被监护人信息</title>
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/keeper/pupil.css"/>
</head>
<body>
<div style="margin-bottom: 50px">
    <ul>
        <li>
            <img src="/Public/images/ic_avatar.png" class="i_avatar">
            <div class="i_center">
                <p>张大爷 父亲</p>
                <p>合庆街道</p>
            </div>
            <a class="i_del" href="hmine.html"></a>
        </li>
        <li>
            <img src="/Public/images/ic_avatar.png" class="i_avatar">
            <div class="i_center">
                <p>张大爷 父亲</p>
                <p>合庆街道</p>
            </div>
            <a class="i_del" href="hmine.html"></a>
        </li>
        <li>
            <img src="/Public/images/ic_avatar.png" class="i_avatar">
            <div class="i_center">
                <p>张大爷 父亲</p>
                <p>合庆街道</p>
            </div>
            <a class="i_del" href="hmine.html"></a>
        </li>
    </ul>
</div>
<div style="position: fixed;bottom: 15px;width: 100%;padding: 0px 15px;box-sizing: border-box">
    <a class="ws_btn_block" >添加被监护人</a>
</div>
</body>
</html>