<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>党建每月活动中心</title>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="css/huodonglist.css">
</head>
<body>
	<div class="title">
		<a href="javascript:history.back(-1)"><div class="back"><i class="iconfont icon-fanhui"></i>返回</div></a>
		<div class="title-name" id="titleNme">党建每月活动中心</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<ul class="list">
				<li class="item"><a href="javascript:;">九九崇崇阳市九九崇阳市九九崇阳崇阳市九九崇阳市九九崇阳阳崇阳市九九崇阳市九九崇阳崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
				<li class="item"><a href="javascript:;">九九崇阳市九九崇阳市九九崇阳市九九崇阳市九九崇阳市</a></li>
			</ul>
		</div>
		<a style="font-size:28px;line-height: 70px;color: #fff;" href="javascript:;"><div class="href">连接连接连接连接连接连接</div></a>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){

			changeTitleStyle('titleNme', 29, 35, 60);
			function changeTitleStyle(el, textLength, fontSize, lineHeight) {
	            if (el) {
	                var title = document.getElementById(el);
	                if (title.innerText.length > textLength) {
	                    title.style.fontSize = fontSize + 'px';
	                    title.style.lineHeight = 116 + 'px';
	                }
	                if(title.innerText.length > 41){
	                	title.style.fontSize = fontSize + 'px';
	                	title.style.lineHeight = lineHeight + 'px';
	                }
	            }
	        }
		})
	</script>
</body>
</html>