<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__WARNING__/css/case_detail.css">
    <link rel="stylesheet" href="__WARNING__/iconfont/iconfont.css">
    <title>基层防腐败警示案例</title>
</head>
<body>
<!--头部的字体-->
<div class="title">
    <a href="javascript:history.back(-1)"><div class="back"><i class="iconfont icon-fanhui"></i>返回</div></a>
</div>
<div id="header">
</div>
<!--第二部分-->
<div id="part_content">
    <div class="title">
        <div></div>
        <p>{$detail.title}</p>
        <hr/>
    </div>
    <div class="time">
        <p>时间：<i>{$detail.time}</i>&nbsp;&nbsp;&nbsp;来源：<i>{$detail.source}</i></p>
    </div>
    <div class="detail">
        <div class="detail1">
            {$detail.content}
        </div>
    </div>
</div>
</body>
</html>