<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>美丽合庆</title>
    <link rel="stylesheet" href="__DJ__/css/demand.css">
</head>
<body>
    <section class="title">
        <a href="javascript:history.back(-1)">
            <div class="back">
                <i class="iconfont icon-fanhui"></i>返回
            </div>
        </a>
        <div class="title-name" id="titleNme">需求传声筒</div>
    </section>

    <section class="content">
        <div class="intro-box">
            <p class="text">“当好党音传声筒 做好群众贴心人”合庆党建平台提供“需求传声筒”功能，群众可以随时把自己的需求提交到党建中心，让党时时刻刻听到。</p>
            <div class="img-box">
                <img src="__DJ__/img/mobile_image.png" />
            </div>
        </div>
        <div class="ewm-box">
            <div class="ewm">
                <img src="__DJ__/img/mobile_ewm.png" />
                <p class="text">微信扫描提交需求</p>
            </div>
        </div>
    </section>
</body>
</html>