<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>美丽合庆</title>
    <link rel="stylesheet" href="__DJ__/css/demand.css">
</head>
<body>
<section class="title">
    <a href="javascript:history.back(-1)">
        <div class="back">
            <i class="iconfont icon-fanhui"></i>返回
        </div>
    </a>
    <div class="title-name" id="titleNme">党员心声</div>
</section>

<section class="content">
    <div class="intro-box">
        <p class="text">“当好党音传声筒，做好群众贴心人”合庆党建平台提供“党员心声”功能，党员群众如对合庆镇经济社会发展有任何意见、建议，都欢迎您随时把宝贵的想法提交到党建中心，让党组织时时刻刻能听到，共同为家乡建设助力！</p>
        <div class="img-box">
            <img src="__DJ__/img/mobile_image1.png" />
        </div>
    </div>
    <div class="ewm-box">
        <div class="ewm">
            <img src="__DJ__/img/code/dyxs.png" />
            <p class="text">关注微信一键提交</p>
        </div>
    </div>
</section>
</body>
</html>