<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美丽合庆</title>
	<link rel="stylesheet" type="text/css" href="__DJ__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__DJ__/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__DJ__/css/hongse.css">
</head>
<body>
	<div class="title">
		<a href="javascript:history.back(-1)"><div class="back"><i class="iconfont icon-fanhui"></i>返回</div></a>
		<div class="title-name"><img src="__DJ__/img/dyfw.png"></div>
	</div>
	<div class="content">
		<div class="frame-box">
			<a href="{:U('Hq/wxCode?id=8')}"><dl class="frame" style="background:url(__DJ__/img/a.png) no-repeat;background-size: 100% 100%;">
				<dt class="icon"><i class="iconfont icon-dangfeijiaona"></i></dt>
				<dd class="name">党费核定</dd>
			</dl></a>
			<a href="{:U('Hq/dwdetail')}"><dl class="frame" style="background:url(__DJ__/img/b.png) no-repeat;background-size: 100% 100%;">
				<dt class="icon"><i class="iconfont icon-zuzhi"></i></dt>
				<dd class="name">组织关系接转</dd>
			</dl></a>
		</div>
	</div>
</body>
</html>