<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美丽合庆</title>
	<link rel="stylesheet" type="text/css" href="__DJ__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__DJ__/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__DJ__/css/person.css">
</head>
<body>
	<div class="title">
		<a href="javascript:history.back(-1)"><div class="back"><i class="iconfont icon-fanhui"></i>返回</div></a>
		<div class="title-name" id="titleNme">{$detail.title}</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<div class="imgarea"><img src="{$detail.pic}"></div>
			<div class="text">{$detail.content}</div>
			
		</div>
	</div>
	<script type="text/javascript" src="__DJ__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__DJ__/js/swiper-3.4.2.jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 5000,//可选选项，自动滑动
				pagination : '.swiper-pagination',
				loop : true,
			})

			changeTitleStyle('titleNme', 29, 35, 60);
			function changeTitleStyle(el, textLength, fontSize, lineHeight) {
	            if (el) {
	                var title = document.getElementById(el);
	                if (title.innerText.length > textLength) {
	                    title.style.fontSize = fontSize + 'px';
	                    title.style.lineHeight = 116 + 'px';
	                }
	                if(title.innerText.length > 41){
	                	title.style.fontSize = fontSize + 'px';
	                	title.style.lineHeight = lineHeight + 'px';
	                }
	            }
	        }
		})
	</script>
</body>
</html>