<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>合庆党建品牌</title>
	<link rel="stylesheet" type="text/css" href="__BRAND__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__BRAND__/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="__BRAND__/css/pinpai.css">
</head>
<body>
	<div class="title">
		<div class="title-name"><img src="__BRAND__/img/pinpai-title.png"></div>
	</div>
	<div class="content">
		<div class="frame-box">
			<dl class="frame" style="background:url(__BRAND__/img/a.png) no-repeat;background-size: 100% 100%;"><a href="{:U('Hq/categoryList?id='.$title['0']['id'])}">
				<dt class="icon"><img class="img" src="__BRAND__/img/d.png"></dt>
				<dd class="name">村民自治</br>1+1+X</dd>
			</a></dl>
			<dl class="frame" style="background:url(__BRAND__/img/b.png) no-repeat;background-size: 100% 100%;"><a href="{:U('Hq/categoryList?id='.$title['1']['id'])}">
				<dt class="icon"><img class="img" src="__BRAND__/img/f.png"></dt>
				<dd class="name">党建+</br>1+8+N</dd>
			</a></dl>
			<dl class="frame" style="background:url(__BRAND__/img/c.png) no-repeat;background-size: 100% 100%;"><a href="{:U('Hq/categoryList?id='.$title['2']['id'])}">
				<dt class="icon"><img class="img" src="__BRAND__/img/e.png"></dt>
				<dd class="name">三述两测</br>一考</dd>
			</a></dl>
		</div>
	</div>
</body>
</html>