<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美丽合庆</title>
    <link rel="stylesheet" type="text/css" href="__DJ__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__DJ__/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__DJ__/css/teacherList.css">
</head>
<body>
<div class="title">
    <a href="javascript:history.back(-1)"><div class="back"><i class="iconfont icon-fanhui"></i>返回</div></a>
    <div class="title-name" id="titleNme">书记带教</div>
</div>
<div class="content">
    <ul class="list clearfix">
        <volist name="shuji" id="vo">
            <li class="item fl">
                <a href="javascript:;">
                    <div class="image-box">
                        <img src="{$vo.pic}" />
                    </div>
                    <div class="text-box">
                        <h3 class="text-title">{$vo.name}</h3>
                        <p class="text-infor">{$vo.content}</p>
                    </div>
                </a>
            </li>
        </volist>
    </ul>
</div>

<script type="text/javascript" src="__DJ__/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){

        changeTitleStyle('titleNme', 29, 35, 60);
        function changeTitleStyle(el, textLength, fontSize, lineHeight) {
            if (el) {
                var title = document.getElementById(el);
                if (title.innerText.length > textLength) {
                    title.style.fontSize = fontSize + 'px';
                    title.style.lineHeight = 116 + 'px';
                }
                if(title.innerText.length > 41){
                    title.style.fontSize = fontSize + 'px';
                    title.style.lineHeight = lineHeight + 'px';
                }
            }
        }
    })
</script>
</body>
</html>