<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基层防腐败警示案例</title>
	<link rel="stylesheet" type="text/css" href="__WARNING__/css/jc-index.css">
</head>
<body>
	<div class="title"><img src="__WARNING__/img/example-title.png"></div>
	<div class="theme">
		<p class="chinese">反腐倡廉 警钟长鸣</p>
		<p class="english">FANFUCHANGLIAN JINGZHONGCHANGMING</p>
	</div>
	<div ><a class="enter" href="{:U('Hq/example')}">
		<p class="click">点击</p>
		<p>进入</p>
	</a></div>
</body>
</html>