html {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../imgs/bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-family: 'microsoft yahei';
}
.banner {
  width: 1366px;
  margin: 0 auto;
}
.banner .title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding-left: 13px;
  background-color: rgba(13, 25, 38, 0.5);
}
.banner .title .iconfont {
  font-size: 35px;
  color: #FADD4D;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEE858), to(#E5AB1B));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner .title .text {
  color: #FFF;
  font-size: 30px;
  font-family: '方正舒体';
  margin-left: 10px;
}
.banner .content {
  width: 1356px;
  height: 711px;
  margin: 5px auto 0;
  background-color: rgba(13, 25, 38, 0.5);
}
.content {
  overflow: hidden;
  position: relative;
}
.content .data-wrapper {
  position: absolute;
  top: 350px;
  left: 70px;
}
.content .data-wrapper .data {
  font-size: 20px;
  margin-bottom: 40px;
  background-color: #11333A;
  border: 1px solid #196D6C;
  position: relative;
}
.content .data-wrapper .data::after {
  content: '';
  background-color: #11333A;
  border-top: 1px solid #196D6C;
  border-left: 1px solid #196D6C;
  border-right: 1px solid #196D6C;
}
.content .data-wrapper .data .iconfont {
  font-size: 30px;
  margin: 0 5px 0 15px;
}
.content .data-wrapper .data .iconfont.color-red {
  color: #FF7251;
}
.content .data-wrapper .data .iconfont.color-green {
  color: #94BC46;
}
.content .data-wrapper .data .iconfont.color-blue {
  color: #7572E7;
}
.content .data-wrapper .data b {
  color: #FFFC19;
  font-size: 40px;
  margin: 0 5px;
}
.content .data-wrapper .data#basePeople {
  display: none;
}
.content .center-wrapper {
  width: 850px;
  position: absolute;
  top: 43px;
  right: 50px;
  transform: translate(0, 0) scale(1, 1);
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.content .center-wrapper .circle-wrapper {
  width: 470px;
  height: 470px;
  padding: 6px;
  margin: 40px 0;
  border: 1px dotted #235C6B;
  border-radius: 50%;
}
.content .center-wrapper .circle-wrapper .circle-one {
  width: 100%;
  height: 100%;
  padding: 23px;
  border-radius: 50%;
  border: 1px dashed #235C6B;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two {
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: rgba(35, 92, 107, 0.2);
  border: 1px dotted #235C6B;
  border-radius: 50%;
  position: relative;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two .circle-rotate {
  width: 100%;
  height: 100%;
  background: url("../imgs/rotate.png") no-repeat;
  background-size: 100% 100%;
  animation: rotate 4s infinite linear;
  position: relative;
  z-index: 20;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two .circle-inner {
  width: 250px;
  height: 250px;
  text-align: center;
  padding-top: 45px;
  border: 1px dotted #FFF;
  border-radius: 50%;
  background-color: #A53037;
  background-image: linear-gradient(180deg, #CD454E, #520507);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 50;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two .circle-inner .iconfont {
  font-size: 40px;
  color: #FADD4D;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEE858), to(#E5AB1B));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two .circle-inner .text {
  color: #FFF;
  font-size: 30px;
  line-height: 35px;
}
.content .center-wrapper .circle-wrapper .circle-one .circle-two .circle-inner .text:nth-child(2) {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content .center-wrapper .center-title {
  font-size: 32px;
  text-align: center;
  background-color: #A42F38;
  border: 1px dotted #FFF;
  position: absolute;
  top: 16px;
  left: 429px;
}
.content .center-wrapper .center-title::after {
  content: '';
  background-color: #A42F38;
  border-top: 1px dotted #FFF;
  border-left: 1px dotted #FFF;
  border-right: 1px dotted #FFF;
}
.content .center-wrapper .aside-wrapper {
  width: 465px;
  height: 374px;
  position: absolute;
  top: 110px;
  left: 368px;
}
.content .center-wrapper .aside-wrapper aside {
  width: 390px;
  height: 41px;
  font-size: 0;
  position: absolute;
}
.content .center-wrapper .aside-wrapper aside .aside-circle,
.content .center-wrapper .aside-wrapper aside .aside-bar,
.content .center-wrapper .aside-wrapper aside .link {
  background-color: rgba(12, 35, 44, 0.9);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.content .center-wrapper .aside-wrapper aside .aside-circle {
  width: 25px;
  height: 25px;
  border: 1px dashed #eeeeee;
  border-radius: 50%;
  left: 0;
  z-index: 10;
}
.content .center-wrapper .aside-wrapper aside .aside-bar {
  width: 75px;
  height: 5px;
  border-top: 1px dashed #eeeeee;
  border-bottom: 1px dashed #eeeeee;
  left: 24px;
  z-index: 15;
}
.content .center-wrapper .aside-wrapper aside .link {
  width: 286px;
  height: 41px;
  color: #FFF;
  font-size: 21px;
  text-align: center;
  line-height: 39px;
  border: 1px dashed #eeeeee;
  border-radius: 6px;
  left: 98px;
  z-index: 10;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.content .center-wrapper .aside-wrapper aside:nth-child(1) {
  top: 0px;
  left: 35px;
}
.content .center-wrapper .aside-wrapper aside:nth-child(2) {
  top: 66px;
  left: 70px;
}
.content .center-wrapper .aside-wrapper aside:nth-child(3) {
  top: 131px;
  left: 87px;
}
.content .center-wrapper .aside-wrapper aside:nth-child(4) {
  top: 196px;
  left: 85px;
}
.content .center-wrapper .aside-wrapper aside:nth-child(5) {
  top: 263px;
  left: 55px;
}
.content .center-wrapper .aside-wrapper aside:nth-child(6) {
  top: 329px;
  left: 0px;
}
.content .shape {
  width: 306px;
  height: 59px;
  color: #FFF;
  line-height: 57px;
  border-radius: 6px;
  z-index: 50;
}
.content .shape::after {
  content: '';
  width: 53px;
  height: 7px;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
  position: absolute;
  top: -8px;
  left: 26px;
  z-index: 100;
}
.content #first {
  z-index: 1000;
}
.content #first aside:hover .aside-circle,
.content #first aside:hover .aside-bar,
.content #first aside:hover .link {
  background-color: #A42F38;
}
.content #second {
  display: none;
}
.content #second .circle-inner {
  background-color: #16524A;
  background-image: linear-gradient(180deg, #3CAFA8, #16524A);
}
.content #second .center-title {
  background-color: #0D726D;
}
.content #second .center-title::after {
  background-color: #0D726D;
}
.content #second aside:hover .aside-circle,
.content #second aside:hover .aside-bar,
.content #second aside:hover .link {
  background-color: #0D726D;
}
.content .shield {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: none;
}
.content .shield .more-box {
  width: 500px;
  margin: 100px auto 0;
  border: 1px solid #044d9c;
  border-radius: 6px;
  background-color: #FFF;
}
.content .shield .more-box .more-title {
  width: 100%;
  color: #044d9c;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #044d9c;
  position: relative;
}
.content .shield .more-box .more-title .close {
  width: 39px;
  height: 39px;
  text-align: center;
  line-height: 37px;
  border: 1px solid #044d9c;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: -19px;
  right: -19px;
  cursor: pointer;
}
.content .shield .more-box .more-title .close .iconfont {
  font-size: 20px;
}
.content .shield .more-box .more-content {
  width: 100%;
  height: 450px;
  padding: 0 10px 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content .shield .more-box .more-content .dzb-all,
.content .shield .more-box .more-content .dy-all {
  display: none;
}
.content .shield .more-box .more-content .dzb-all .dzb-list,
.content .shield .more-box .more-content .dy-all .dzb-list,
.content .shield .more-box .more-content .dzb-all .dy-list,
.content .shield .more-box .more-content .dy-all .dy-list {
  color: #3b3b3b;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  border-bottom: 1px solid #044d9c;
  cursor: pointer;
}
.content .shield .more-box .more-content .dzb-all .dzb-list:hover,
.content .shield .more-box .more-content .dy-all .dzb-list:hover,
.content .shield .more-box .more-content .dzb-all .dy-list:hover,
.content .shield .more-box .more-content .dy-all .dy-list:hover {
  color: #FFF;
  background-color: rgba(13, 25, 38, 0.8);
}
.content .shield .more-box .more-content .dzb-all {
  width: 100%;
}
.content .shield .more-box .more-content .dzb-all .dzb-list {
  width: 100%;
}
.content .shield .more-box .more-content .dy-all {
  width: 100%;
}
.content .shield .more-box .more-content .dy-all .dy-list {
  width: 50%;
}
.content .shield .more-box .more-content .dy-all .dy-list:nth-child(2n + 1) {
  border-right: 1px solid #044d9c;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
