html {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../imgs/bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-family: 'microsoft yahei';
}
.banner {
  width: 1366px;
  margin: 0 auto;
}
.banner .title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding-left: 13px;
  background-color: rgba(13, 25, 38, 0.5);
}
.banner .title .iconfont {
  font-size: 35px;
  color: #FADD4D;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEE858), to(#E5AB1B));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner .title .text {
  color: #FFF;
  font-size: 30px;
  font-family: '方正舒体';
  margin-left: 10px;
}
.banner .content {
  width: 1356px;
  height: 711px;
  margin: 5px auto 0;
  background-color: rgba(13, 25, 38, 0.5);
}
.content {
  overflow: hidden;
  position: relative;
}
.content .rank-wrapper {
  width: 630px;
  margin-left: 20px;
}
.content .rank-wrapper .subtitle {
  color: #fdd901;
  font-size: 30px;
  line-height: 74px;
  padding-left: 15px;
}
.content .rank-wrapper .rank-content {
  width: 100%;
  height: 540px;
}
.content .rank-wrapper .rank-content table th:first-child {
  width: 90px;
}
.content .rank-wrapper .rank-content table td:first-child {
  width: 90px;
}
.content .rank-wrapper .bottom {
  width: 100%;
  margin-top: 7px;
}
.content .rank-wrapper .bottom .add,
.content .rank-wrapper .bottom .more {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
}
.content .rank-wrapper .bottom .add {
  width: 396px;
  height: 65px;
  line-height: 63px;
  background-color: rgba(255, 255, 255, 0.2);
}
.content .rank-wrapper .bottom .add b {
  font-size: 30px;
  color: #FFFC19;
  text-shadow: 1px 1px #9E4A02;
  margin-left: 10px;
}
.content .rank-wrapper .bottom .more {
  width: 133px;
  height: 48px;
  line-height: 46px;
  margin-top: 10px;
  border: 1px solid #4ef1fa;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0px #4ef1fa;
  cursor: pointer;
}
.content .shield {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: none;
}
.content .shield .more-box {
  width: 604px;
  height: 642px;
  margin: 40px auto 0;
  border: 1px solid #044d9c;
  border-radius: 6px;
  background-color: #FFF;
  position: relative;
}
.content .shield .more-box .close {
  width: 39px;
  height: 39px;
  color: #014d99;
  text-align: center;
  line-height: 37px;
  border: 1px solid #044d9c;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: -19px;
  right: -19px;
  cursor: pointer;
}
.content .shield .more-box .close .iconfont {
  font-size: 20px;
}
.content .shield .more-box .more-innerbox {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content .shield .more-box .more-innerbox table {
  border: 1px solid #014d99;
  background-color: transparent;
}
.content .shield .more-box .more-innerbox table th {
  color: #014d99;
}
.content .shield .more-box .more-innerbox table tbody td {
  color: #3b3b3b;
}
.content table {
  width: 100%;
  border: 1px solid #4ef1fa;
  border-radius: 6px;
  background-color: rgba(6, 32, 47, 0.4);
}
.content table th {
  height: 58px;
  color: #4ef1fa;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.content table th:first-child {
  width: 64px;
}
.content table th:nth-child(2) {
  width: 335px;
}
.content table tbody tr td {
  height: 48px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
.content table tbody tr td:first-child {
  width: 64px;
  text-align: center;
}
.content table tbody tr td:nth-child(2) {
  width: 335px;
  max-width: 335px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content table tbody tr td .score {
  display: inline-block;
  margin-right: 20px;
}
.content table tbody tr td .iconfont {
  display: inline-block;
}
.content table tbody tr td .iconfont[data-condition="1"] {
  color: #EF4505;
}
.content table tbody tr td .iconfont[data-condition="-1"] {
  color: #529F02;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content table tbody tr td .iconfont[data-condition="0"] {
  display: none;
}
