.request_title {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #3E4752;
    margin-bottom: 10px;
}

.request_tags {
    padding: 5px 15px 15px 25px;
    background-color: #fff;
}

.ws_tag {
    font-size: 15px;
    padding: 2px 12px;
    color: #51C5D4;
    border: 1px solid #51C5D4;
    background: #fff;
    margin-top: 10px;
}

.ws_tag_selected {
    color: #fff;
    background: #51C5D4;
}

.request_desc {
    display: block;
    box-sizing: border-box;
    margin: 10px 25px;
    width: 85%;
    height: 100px;
    padding: 15px;
    font-size: 16px;
    outline-color: #51C5D4;
}
