.logout {
    display: block;
    font-style: normal;
    text-decoration: none;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    color: #F56B4E;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
}

.logout:active{
    background-color: #ececec;
}
