<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>新建会议</title>
    <script src="/Public/ljz3/srcYSH/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/ljz3/srcYSH/css/conference.css">
    <link rel="stylesheet" href="/Public/ljz3/srcYSH/lib/layer_mobile/need/layer.css">
    <script type="text/html" id="noteItem">
        {{if result}}
            {{each result as value}}
            <li class="note-item borderBtm-1px" data-nameid="{{value.userid}}">
                <span class="note-name">{{value.name}}</span>
                <span class="iconfont icon-gou"></span>
            </li>
            {{/each}}
        {{/if}}
    </script>
    <script type="text/html" id="nameItem">
        {{if nameList.length}}
            {{each nameList as item}}
            <li class="name-item fl">
                <span style="font-size: 14px !important;" class="text">{{item}}</span>
            </li>
            {{/each}}
        {{/if}}
    </script>
</head>
<body class="new">

    <!--会议信息输入部分 start-->
    <article class="new-wrapper">
        <!--区块一-->
        <section class="infor-box borderTop-1px borderBtm-1px">
            <div class="infor">
                <input id="title" class="input-text" type="text" placeholder="请输入会议标题">
            </div>
            <div class="infor">
                <textarea id="content" class="textarea" placeholder="请输入会议内容"></textarea>
            </div>
        </section>
        <!--区块二-->
        <section class="infor-box borderTop-1px borderBtm-1px">
            <div class="infor">
                <label class="infor-label">开始时间</label>
                <input id="startTime" class="input-text" type="datetime-local" placeholder="请选择">
            </div>
            <div class="infor">
                <label class="infor-label">结束时间</label>
                <input id="endTime" class="input-text" type="datetime-local" placeholder="请选择">
            </div>
            <div class="infor">
                <label class="infor-label">会议地点</label>
                <input id="address" class="input-text" type="text">
            </div>
        </section>
        <!--区块三-->
        <section class="infor-box borderTop-1px borderBtm-1px">
            <!--<div class="infor">-->
                <!--<label class="infor-label">发起人</label>-->
            <!--</div>-->
            <div id="selectName" class="infor">
                <label class="infor-label">参会人</label>
                <div id="nameWrapper" class="infor-name">
                    <ul id="nameList" class="name-list clearfix">
                    </ul>
                </div>
                <span class="iconfont icon-xiangyou fr"></span>
            </div>
        </section>
    </article>
    <!--会议信息输入部分 end-->

    <!--会议创建确认部分 start-->
    <section class="confirm-wrapper">
        <div id="confirm" class="confirm">确认创建</div>
    </section>
    <!--会议创建确认部分 end-->

    <!--人员选择遮罩部分 start-->
    <section id="note" class="note-wrapper">
        <div class="note-box">
            <nav id="noteWrapper" class="note">
                <ul id="noteScroll" class="note-list">

                </ul>
            </nav>
            <section class="note-btn">
                <span id="selectOver" class="btn">选择完毕</span>
                <span id="close" class="btn">关闭</span>
            </section>
        </div>
    </section>
    <!--人员选择遮罩部分 end-->

    <script src="/Public/ljz3/srcYSH/js/alert.js"></script>
    <script src="/Public/ljz3/srcYSH/js/require.js" data-main="/Public/ljz3/srcYSH/js/conferenceNew"></script>
</body>
</html>