<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>金色纽带</title>
    <link rel="stylesheet" href="/Public/ljz3/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz3/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz3/css/golden.css">
    <link rel="stylesheet" href="/Public/ljz3/lib/swiper/swiper.min.css">
</head>
<body>
    <div class="return">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>

    <section class="intro-wrapper">
        <h2>模式简介</h2>
        <p>1、金色纽带以深化推进居民区楼组党建、创新拓展商务楼宇党建为基础，以加强居民区与商务楼宇
        互联互补互促、生活人群和工作人群互动互通互融为重点，通过构建党建引领、资源整合、服务群众的
        体制机制，实现“党务共议、政务共商、事务共治”一体化效应。</p>
        <p>2、金色，代表党的阳光照耀合庆金融城，而两楼联动、两头延伸党建工作新模式则是串联居民区
        与商务楼宇，传递党的声音、实现价值引领的互惠、互信、互通的重要纽带。</p>
        <h2>运行机制</h2>
        <p><span>1、金色纽带组织体系</span></p>
        <p><span>推进组织延伸“布成点”。</span>把党的组织向两头延伸，即：居民区延伸开展楼组党建，
        “两新”以一幢楼宇或相邻楼宇为单位，建立楼宇联合党总支。</p>
        <p><span>强化体系融合“划成片”。</span>试点成立片区区域党建促进会，成员单位34个，包括上海海
        运(集团)、上海一建集团、中海油运等企业单位，覆盖党组织34个、党员1098名。时代金融、世界广场、
        新上海商业城等其他片区正在筹建过程中。</p>
        <p><span>依托区域载体“联成网”。</span>完善区域党建联席会的组织架构和运行机制，将片区促进会
        作为联席会的分会，建立7个专业委员会，探索轮值会长制，提高其运行成效。</p>
        <p><span>2、金色纽带实施平台</span></p>
        <p>完善党建服务中心及4个商务楼宇综合服务站的功能，发挥区域性、开放性公共服务作用。通过阳光驿站
        公益服务社，打造承接党群事务、提供党群服务、创新价值引领的枢纽型社会组织。依托智慧社区建设优势，
        以“合庆党建”微信公众号，打造一个集信息发布、服务介绍、需求征集、意见反馈、在线互动等为一体
        的党建服务网络互动平台。</p>
        <img src="/Public/ljz3/imgs/ewm/ewm_ljzdj.jpg" alt="">
        <p><span>3、金色纽带运行机制</span></p>
        <p><span>自下而上的需求提取机制：</span>需求众筹，以海量多元的信息为基础，分类提取了包括社会管
        理事务、社会公共服务、社会资源整合、社会价值实现、社区文化共享、社区公共事务及创建评选等7大类需
        求菜单。</p>
        <p><span>互联互通的项目运行机制：</span>从菜单式需求信息入手，按照促进会提议、理事会决议、社区
        党委审批的程序，确定实施项目。</p>
        <p><span>面向群众的成效评估机制：</span>建立包括项目实施绩效、资金使用管理和效益、项目过程质量
        管理等内容的指标体系，并运用项目评估、问卷调查、入户访问等考核办法，分类开展满意度测评。</p>
    </section>

    <section class="photo-wrapper">
        <div class="photo-tb">
            <div id="swiperTL" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden1.jpg" alt="">
                        <span class="bar">上海中远海运与合庆街道举行党建联建、文明共建签约仪式暨中心组联合学习</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden2.jpg" alt="">
                        <span  class="bar">合庆街道与小核运作参与单位召开专题研讨会</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden3.jpg" alt="">
                        <span  class="bar">“金色纽带”—“民生民心，让爱传递”爱心助学寒假活动</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden4.jpg" alt="">
                        <span  class="bar">中远海运公司党委书记蔡震洲林山居民区困难学生家庭</span>
                    </div>
                </div>
            </div>
            <div id="swiperTR" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden5.jpg" alt="">
                        <span class="bar">中远海运公司总经理陈纪鸿走访了陈家门居民区困难学生家庭</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden6.jpg" alt="">
                        <span  class="bar">“两学一做”中心组联组学习会。</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden7.jpg" alt="">
                        <span  class="bar">百金化工集团邀请同仁堂中医门诊部老中医为员工进行健康咨询。</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden8.jpg" alt="">
                        <span  class="bar">开展了交通法规、防电信诈骗文艺宣传演出活动。</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo-tb">
            <div id="swiperBL" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden9.jpg" alt="">
                        <span class="bar">年轻白领青年党员教社区退休居民使用微信。</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden10.jpg" alt="">
                        <span  class="bar">开展“白领课堂”之学说上海话沙龙</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden11.jpg" alt="">
                        <span  class="bar">在东方金融广场进行白领现场红十字救护培训</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden12.jpg" alt="">
                        <span  class="bar">上海东方医院高年资党员专家义诊团齐聚东方金融广场</span>
                    </div>
                </div>
            </div>
            <div id="swiperBR" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden13.jpg" alt="">
                        <span class="bar">由上海中远海运党委牵头，“1+N”小核运作单位共同参观了中共二大会址。</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden14.jpg" alt="">
                        <span  class="bar">签下《东方医院“医德医风”党员志愿者监督员队伍建设项目合作协议》</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="/Public/ljz3/imgs/golden/golden15.jpg" alt="">
                        <span  class="bar">合庆街道联合东方医院党委举办迎“七一”党员专家健康咨询暨东方医院医德医风监督员签约授证活动</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/Public/ljz3/js/jquery.min.js"></script>
    <script src="/Public/ljz3/lib/swiper/swiper.jquery.min.js"></script>
    <script>
        $(function () {
            var mySwiperTL = new Swiper ('#swiperTL', {
                autoplay: 3000,
                autoplayDisableOnInteraction: false,
                loop: true,
                pagination: '.swiper-pagination',
            })

            var mySwiperTR = new Swiper ('#swiperTR', {
                autoplay: 3000,
                autoplayDisableOnInteraction: false,
                loop: true,
                pagination: '.swiper-pagination',
            })

            var mySwiperBL = new Swiper ('#swiperBL', {
                autoplay: 3000,
                autoplayDisableOnInteraction: false,
                loop: true,
                pagination: '.swiper-pagination',
            })

            var mySwiperBR = new Swiper ('#swiperBR', {
                autoplay: 3000,
                autoplayDisableOnInteraction: false,
                loop: true,
                pagination: '.swiper-pagination',
            })
        });
    </script>
</body>
</html>