<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>合庆党建</title>
    <link rel="stylesheet" href="/Public/ljz3/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz3/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz3/css/index.css">
</head>
<body>

    <section class="wrapper">
        <section class="wrapper-left">
            <div class="list">
                <a href="{:U('volunteer')}" class="color-orange">
                    <span class="iconfont icon-zhiyuanzhe"></span>
                    <p>志愿者服务</p>
                </a>
            </div>
            <div class="list">
                <a href="{:U('demand')}" class="color-yellow">
                    <span class="iconfont icon-xiaoquxinwen"></span>
                    <p>需求传声筒</p>
                </a>
            </div>
            <div class="list">
                <a href="{:U('project')}" class="color-purple">
                    <span class="iconfont icon-gongyi01"></span>
                    <p>项目直通车</p>
                </a>
            </div>
        </section>

        <section class="wrapper-right">
            <div class="list">
                <a href="{:U('appoint')}" class="color-blue">
                    <span class="iconfont icon-yuyuedengjilei"></span>
                    <p>场馆预约</p>
                </a>
            </div>

            <div class="list">
                <a href="{:U('double')}" class="color-purple">
                    <span class="iconfont icon-dangyuan"></span>
                    <p>双报到</p>
                </a>
            </div>
            <div class="list">
                <a href="{:U('source')}" class="color-blue">
                    <span class="iconfont icon-ziyuan"></span>
                    <p>资源连连看</p>
                </a>
            </div>
        </section>

    </section>

</body>
</html>