<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>创新阵地</title>
    <link rel="stylesheet" href="/Public/ljz3/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz3/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz3/css/innovate.css">
</head>
<body>
    <div class="return">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>

    <section class="content">
        <ul class="list-wrapper">
            <li class="list">
                <h2>724社会企业培育基地</h2>
                <p>培育社会企业的阵地。为社会组织及个人提供发展及成长的平台</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：乳山路206号1楼
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：恩派
                </p>
            </li>
            <li class="list">
                <h2>合庆绿地</h2>
                <p>为社会公益活动提供场地</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：合庆环路717号临
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：合庆金融城发展局 58875487
                </p>
            </li>
            <li class="list">
                <h2>合庆国际咖啡节</h2>
                <p>每年定期举办咖啡文化活动</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：合庆滨江大道
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：合庆文联
                </p>
            </li>
            <li class="list">
                <h2>自治金项目培育</h2>
                <p>由街道自治办监管，各居民可以根据自己的爱好，设计服务本小区的公益服务、
                    管理类项目，报本小区居委会，申请年度工作经费，各居委会做好指导服务工作。</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：各居民区
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：合庆各居委会
                </p>
            </li>
            <li class="list">
                <h2>健康社区建设</h2>
                <p>通过培育居民区健康自治小组、建设健康小屋，委派健康管理师等开展居民区
                    健康管理、宣教等工作，通过信息化平台，与家庭医生互动，共建健康社区。</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：各居民区
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：浦东新区凝心聚力社区发展公益基金会
                </p>
            </li>
            <li class="list">
                <h2>为社区老年人做家电档案</h2>
                <p>永乐家电党员志愿者为社区老年人家电作检查，建立家电档案，排除隐患。</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：各居民区
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：永乐家电党员志愿者队
                </p>
            </li>
            <li class="list">
                <h2>浦东国际联合大学</h2>
                <p>其是所开放式、以创造力为核心，非学历型教育的虚拟与实际相结合的大学。
                    主旨是吸引全球各领域的教授、学术带头人、企业家每年定期来浦东开展教学、科
                    研，以及项目实践的工作。根据每位教授专家的专业特点，组建专家工作站，根据
                    其具体项目，组建项目工作组。对发展良好且市场前景广阔的项目，给予孵化为新兴
                    企业。如此，通过教授群，带来人才群，通过项目群，吸引资源、资本群，从而调动
                    整个区域的创造力。</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：乳山路206号3楼
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：上海合庆智慧社区信息发展中心
                </p>
            </li>
            <li class="list">
                <h2>为振兴家乡服务</h2>
                <p>“为振兴家乡服务”项目，旨在动员更多的人参与家乡建设，创新农业科技发展、
                    提高农作物产量、完善农民保障机制，为农民增加收入，从而促进农村全面建设。通
                    过众筹机制，动员全球华人参与振兴家乡服务；提倡消费即保障、消费即创造理念，
                    并融入合庆社区服务一体化体系建设。</p>
                <p>
                    <span class="iconfont icon-didian"></span>
                    地址：乳山路206号3楼
                </p>
                <p>
                    <span class="iconfont icon-contacts"></span>
                    联系人：浦东新区凝心聚力社区发展公益基金会
                </p>
            </li>
        </ul>
    </section>
</body>
</html>