<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>预约登记</title>
    <link rel="stylesheet" href="/Public/ljz3/fonts/iconfont.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/css/zui.min.css">
    <link rel="stylesheet" href="/Public/ljz3/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz3/lib/datetimepicker/datetimepicker.min.css">
    <link rel="stylesheet" href="/Public/ljz3/css/siteAppoint.css">
    <script type="text/html" id="temp">
        {{if data}}
        {{each data as datas i}}
        <li class="appoint-item">
            <p class="text">
                <span class="iconfont icon-yinxing01 font-blue"></span>
                预约单位：{{datas.company}}
            </p>
            <p>
                <span class="iconfont icon-shijian1 font-orange"></span>
                开始时间：{{datas.startstr}}
            </p>
            <p>
                <span class="iconfont icon-shijian1 font-green"></span>
                结束时间：{{datas.endstr}}
            </p>
        </li>
        {{/each}}
        {{/if}}
    </script>
    <script type="text/html" id="sb">
        {{if data}}
        <div class="form-list" id="sbblock" >
            <label>设备要求：</label>
            {{each data as datas i}}
                <input type="checkbox"  value="{{datas.id}}"><span class="check-text">{{datas.name}}</span>
            {{/each}}
            <input type="text"   name="sb"  hidden>
        </div>
        {{/if}}
    </script>
</head>
<body>
    <div class="return">
        <a href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>

    <section id="place" class="place-appoint">
        <div id="scroll" class="appoint-content">
            <div class="content-box">
                <ul id="place-wrapper" class="list-wrapper">
                    <volist name="data" id="di" >
                        <eq name="di.subtype" value="1" >
                            <li class="list">
                                <h2>{$di.name}</h2>
                                <p>
                                    <span class="iconfont icon-didian"></span>
                                    <span class="text">地址：{$di.addr}</span>
                                </p>
                                <p>
                                    <span class="iconfont icon-renshu"></span>
                                    <span class="text">容纳人数：{$di.count}人</span>
                                </p>
                                <p>
                                    <span class="iconfont icon-dianhua"></span>
                                    <span class="text">预约电话：{$di.tel}</span>
                                </p>
                                <div class="option-box clearfix">
                                    <span class="want-app fl color-red" data-id="{$di.id}" >我要预约</span>
                                    <span class="watch-app fl color-orange" data-id="{$di.id}" >查看预约</span>
                                </div>
                            </li>
                           <else />
                               <li class="list">
                                   <h2>{$di.name}</h2>
                                   <p>
                                       <span class="iconfont icon-didian"></span>
                                       <span class="text">地址：{$di.addr}</span>
                                   </p>
                                   <p>
                                       <span class="iconfont icon-renshu"></span>
                                       <span class="text">容纳人数：{$di.count}人</span>
                                   </p>
                                   <p>
                                       <span class="iconfont icon-dianhua"></span>
                                       <span class="text">预约电话：{$di.tel}</span>
                                   </p>
                                   <div class="option-box">
                                       <p class="suggest">请拨打电话联系工作人员进行预约！</p>
                                   </div>
                               </li>
                        </eq>
                    </volist>
                </ul>
            </div>
        </div>
        <div id="returnTP" class="returnTop">
            <span class="iconfont icon-fanhuidingbu"></span>
        </div>
    </section>

    <section class="ewm">
        <img src="/Public/ljz3/imgs/ewm/ewm_ljzdj.jpg" alt="">
        <p class="please">扫描二维码查看更多</p>
        <p class="text">聚焦合庆区域党建动态、宣传“金色纽带”党建模式、发布“合庆公益城”党建公益项目。</p>
    </section>

    <section id="bg" class="bg">
        <div id="placeBox" class="place-box">
            <h2 class="title"></h2>
            <form class="form-box" action="">
                <input name="aid" type="text" hidden>
                <div class="form-list">
                    <label>您的姓名：</label>
                    <input id="name" type="text" name="name" value="">
                </div>
                <div class="form-list">
                    <label>您的电话：</label>
                    <input id="tel" type="text" name="mobile" value="" >
                </div>
                <div class="form-list">
                    <label>预约人数：</label>
                    <input id="people" type="text" name="count" value="" >
                </div>
                <div class="form-list">
                    <label>党支部/单位：</label>
                    <input id="org" type="text" name="company" value="" >
                </div>
                <div class="form-list">
                    <label>活动主题：</label>
                    <input id="theam" type="text" name="content" value="" >
                </div>
                <div class="form-list">
                    <label>活动开始时间：</label>
                    <input id="startTime" type="text" class="form-control form-datetime" placeholder="选择一个日期+时间" name="start" value="" >
                </div>
                <div class="form-list">
                    <label>活动结束时间：</label>
                    <input id="endTime" type="text" class="form-control form-datetime" placeholder="选择一个日期+时间" name="end" value="" >
                </div>
                <!--<div class="form-list" id="">-->
                    <!--<label>设备要求：</label>-->
                    <!--<input type="checkbox" name="设备" value="1"><span class="check-text">LED屏幕</span>-->
                    <!--<input type="checkbox" name="设备" value="2"><span class="check-text">投影</span>-->
                    <!--<input type="checkbox" name="设备" value="3"><span class="check-text">话筒</span>-->
                    <!--<input type="checkbox" name="设备" value="4"><span class="check-text">电脑</span>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<label>备注：</label>-->
                    <!--<textarea name="" id="placeMessage"></textarea>-->
                <!--</div>-->
            </form>
            <div class="btn-box clearfix">
                <span id="placeConfirm" class="confirm fl color-red">确定</span>
                <span class="cancel fr color-orange">取消</span>
            </div>
        </div>
        <div id="watchBox" class="watch-box">
            <div class="inner-box">
                <h2 class="title"></h2>
                <h3 class="subtitle">已预约时间段</h3>
                <!--查看预约做判断-->
                <p class="hint">该场地目前还没有预约</p>
                <ul id="appointList" class="appoint-list">
                </ul>
            </div>
            <div class="btn-box clearfix">
                <span id="watchClose" class="cancel color-red">关闭</span>
            </div>
        </div>
    </section>

    <script src="/Public/ljz3/js/jquery.min.js"></script>
    <script src="/Public/ljz3/lib/datetimepicker/datetimepicker.min.js"></script>
    <script src="/Public/ljz3/js/template.js"></script>
    <script src="/Public/ljz3/js/siteAppoint.js"></script>
</body>
</html>