<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>志愿者服务</title>
    <link rel="stylesheet" href="/Public/ljz3/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz3/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz3/css/volunteer.css">
</head>
<body>
    <div class="return">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>

    <section class="help">
        <p>“爱互助”是一款基于社区为老关爱的互联网平台，建立起社区居委、志愿者、老人、子女的纽带
        老人可以一键求助和陪伴，寻找身边的志愿者为老人提供服务，行程以社区家庭、社区志愿服务为核心
        的为老服务关爱新模式。</p>
        <div class="ewm-wrapper">
            <div class="ewm-help">
                <img src="/Public/ljz3/imgs/ewm/ewm_help.jpg" alt="">
            </div>
            <div class="text">扫描加入</div>
        </div>
    </section>

    <p class="more">上滑更多</p>
    <section id="volunteer" class="volunteer">
        <ul class="list-wrapper">
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun1.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">文明星期六志愿服务</h2>
                    <p class="list-intro">参与居委开展的文明宣传、法制安全、科普教育、小区环境卫生整治等志愿服务</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun2.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">地铁出入口志愿服务执勤</h2>
                    <p class="list-intro">2号线东昌路站和合庆站、4号线浦东大道站、9号线商城路站，周一至周五上午</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun3.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">网络文明传播志愿活动</h2>
                    <p class="list-intro">及时报送信息、新闻；参与组织线上、线下各类精神文明建设工作；在网络上传播正能量</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun4.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">“智慧社区”场馆志愿者</h2>
                    <p class="list-intro">介绍场馆内容执勤时间：周一至周五上午9：30-11：30；下午2：30-4：30。</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun5.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">走访老人志愿活动</h2>
                    <p class="list-intro">为小区独居、高龄空巢老人提供上门或电话关心等志愿服务，与老人聊天解闷</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun6.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">“小红旗”平安巡逻志愿者</h2>
                    <p class="list-intro">为小区居民提供安全提醒、安全防范、安全巡逻等志愿服务。</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="list-left">
                    <img src="/Public/ljz3/imgs/xlzy/volun7.jpg" alt="">
                </div>
                <div class="list-right">
                    <h2 class="list-title">区级文明路口志愿者执勤</h2>
                    <p class="list-intro">3、4、5、6、10、11月每周一-周五早上7：30-8：30 交通文明劝导。</p>
                    <span class="join">我要参加</span>
                    <div class="ewm-box hide">
                        <img src="/Public/ljz3/imgs/ewm/ewm_volunteer.jpg" alt="小陆志愿微信二维码">
                        <p>请扫描小陆志愿微信公众号二维码进行参加</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <script src="/Public/ljz3/js/jquery.min.js"></script>
    <script>
        $(function () {
            $('body').on('click', function () {
                $('.ewm-box').removeClass('show').addClass('hide');
            }).on('click', '.join', function (event) {
                event.stopPropagation();
                $('.ewm-box').removeClass('show').addClass('hide');
                $(this).next().removeClass('hide').addClass('show');
            });

            // 列表滑动使二维码消失
            $('#volunteer').on('scroll', function () {
                $('.ewm-box').removeClass('show').addClass('hide');
            })
        });
    </script>

</body>
</html>