html {
  font-size: 108px;
}
body {
  width: 100%;
  min-width: 320px;
  font-family: 'microsoft yahei';
  margin: 0 auto;
  background: #EDEDED;
}
.layout {
  width: 100%;
  min-width: 320px;
  font-size: 14px;
  margin: 0 auto;
}
[data-dpr="2"] .layout {
  font-size: 28px;
}
[data-dpr="2.5"] .layout {
  font-size: 35px;
}
[data-dpr="2.75"] .layout {
  font-size: 39px;
}
[data-dpr="3"] .layout {
  font-size: 42px;
}
[data-dpr="4"] .layout {
  font-size: 56px;
}
.layout .party-list {
  width: 100%;
  padding: 0.23148148rem 0.25925926rem 0;
}
.layout .party-list .party-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.27777778rem;
  margin-bottom: 0.15740741rem;
  background-color: #FFF;
  border: 2px solid #E0E0E0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.layout .party-list .party-item .txt-box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.layout .party-list .party-item .txt-box > a {
  display: block;
  width: 100%;
}
.layout .party-list .party-item .txt-box > a .name {
  font-size: 16px;
  font-weight: 700;
  line-height: 0.64814815rem;
  margin-bottom: 0.09259259rem;
}
[data-dpr="2"] .layout .party-list .party-item .txt-box > a .name {
  font-size: 32px;
}
[data-dpr="2.5"] .layout .party-list .party-item .txt-box > a .name {
  font-size: 40px;
}
[data-dpr="2.75"] .layout .party-list .party-item .txt-box > a .name {
  font-size: 44px;
}
[data-dpr="3"] .layout .party-list .party-item .txt-box > a .name {
  font-size: 48px;
}
[data-dpr="4"] .layout .party-list .party-item .txt-box > a .name {
  font-size: 64px;
}
.layout .party-list .party-item .txt-box > a .abstract {
  color: #93999f;
  font-size: 14px;
  line-height: 0.55555556rem;
}
[data-dpr="2"] .layout .party-list .party-item .txt-box > a .abstract {
  font-size: 28px;
}
[data-dpr="2.5"] .layout .party-list .party-item .txt-box > a .abstract {
  font-size: 35px;
}
[data-dpr="2.75"] .layout .party-list .party-item .txt-box > a .abstract {
  font-size: 39px;
}
[data-dpr="3"] .layout .party-list .party-item .txt-box > a .abstract {
  font-size: 42px;
}
[data-dpr="4"] .layout .party-list .party-item .txt-box > a .abstract {
  font-size: 56px;
}
.layout .party-list .party-item .txt-box > a .suggest {
  position: absolute;
  bottom: 0.18518519rem;
  left: 0;
}
.layout .party-list .party-item .img-box {
  padding: 0.23148148rem 0;
}
.layout .party-list .party-item .img-box > img {
  display: block;
  width: 2.96296296rem;
  height: 2.96296296rem;
}
.layout .party-list .color {
  width: 0.12037037rem;
  height: 0.84259259rem;
  position: absolute;
  left: 0;
  top: 0;
}
.layout .party-list .color.bg-pink {
  background: #FF8CAD;
}
.layout .party-list .color.bg-yellow {
  background: #F9C441;
}
.layout .party-list .color.bg-green {
  background: #ABDA8A;
}
.layout .party-list .color.bg-blue {
  background: #A1D3FE;
}
