html {
  font-size: 108px;
  height: 100%;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: #FFF;
}
.layout {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
.layout .project {
  padding: 0.53703704rem 0.46296296rem 0.83333333rem;
  margin-bottom: 1.85185185rem;
  background-color: #FFF;
}
.layout .project h2 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 0.25925926rem;
}
[data-dpr="2"] .layout .project h2 {
  font-size: 32px;
}
[data-dpr="2.5"] .layout .project h2 {
  font-size: 40px;
}
[data-dpr="2.75"] .layout .project h2 {
  font-size: 44px;
}
[data-dpr="3"] .layout .project h2 {
  font-size: 48px;
}
[data-dpr="4"] .layout .project h2 {
  font-size: 64px;
}
.layout .project p {
  color: #7D7D7D;
}
.layout .project p:nth-child(2) {
  font-size: 14px;
  padding-bottom: 0.37037037rem;
}
[data-dpr="2"] .layout .project p:nth-child(2) {
  font-size: 28px;
}
[data-dpr="2.5"] .layout .project p:nth-child(2) {
  font-size: 35px;
}
[data-dpr="2.75"] .layout .project p:nth-child(2) {
  font-size: 39px;
}
[data-dpr="3"] .layout .project p:nth-child(2) {
  font-size: 42px;
}
[data-dpr="4"] .layout .project p:nth-child(2) {
  font-size: 56px;
}
.layout .project p:nth-child(3) {
  font-size: 14px;
  line-height: 0.64814815rem;
}
[data-dpr="2"] .layout .project p:nth-child(3) {
  font-size: 28px;
}
[data-dpr="2.5"] .layout .project p:nth-child(3) {
  font-size: 35px;
}
[data-dpr="2.75"] .layout .project p:nth-child(3) {
  font-size: 39px;
}
[data-dpr="3"] .layout .project p:nth-child(3) {
  font-size: 42px;
}
[data-dpr="4"] .layout .project p:nth-child(3) {
  font-size: 56px;
}
.layout .btn {
  width: 100%;
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.35185185rem 0.25925926rem;
  background-color: #F4F4F4;
  border-top: 2px solid #E0E0E0;
}
[data-dpr="2"] .layout .btn {
  font-size: 32px;
}
[data-dpr="2.5"] .layout .btn {
  font-size: 40px;
}
[data-dpr="2.75"] .layout .btn {
  font-size: 44px;
}
[data-dpr="3"] .layout .btn {
  font-size: 48px;
}
[data-dpr="4"] .layout .btn {
  font-size: 64px;
}
.layout .btn div {
  display: inline-block;
  height: 1.15740741rem;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  line-height: 1.15740741rem;
}
.layout .btn div:nth-child(1),
.layout .btn div:nth-child(2) {
  width: 2.73148148rem;
  color: #AFAFAF;
  background-color: #FFF;
  border: 2px solid #AFAFAF;
}
.layout .btn div:nth-child(3) {
  width: 3.65740741rem;
  background-color: #FF6750;
}
.layout .btn div .iconfont {
  font-size: 15px;
  vertical-align: middle;
}
[data-dpr="2"] .layout .btn div .iconfont {
  font-size: 30px;
}
[data-dpr="2.5"] .layout .btn div .iconfont {
  font-size: 38px;
}
[data-dpr="2.75"] .layout .btn div .iconfont {
  font-size: 41px;
}
[data-dpr="3"] .layout .btn div .iconfont {
  font-size: 45px;
}
[data-dpr="4"] .layout .btn div .iconfont {
  font-size: 60px;
}
.layout .btn div .icon-aixin {
  color: #F46461;
}
.layout .btn div .icon-coin {
  color: #FFA03B;
}
