<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>
            组织生活会
        </h2>
    </div>
    <div class="with-padding">
        <div class="fl">
            <a href="{:U('zzshhEdit')}" class="btn btn-ajax btn-success btn">新增</a>&nbsp;
            <button class="btn ajax-post confirm btn" url="{:U('zzshhDel?status=-1')}"
                    target-form="ids" confirm-info="确认删除？删除后不可恢复！">删除
            </button>
        </div>
    </div>

    <div class="with-padding">
        <form class="ids">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <th>序号</th>
                    <th>时间</th>
                    <th>主题</th>
                    <th>参加人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="di">
                        <tr>
                            <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$di.id}"></td>
                            <td>{$di.index}</td>
                            <td>{$di.datetime|date='Y-m-d',###}</td>
                            <td>{$di.subject}</td>
                            <td>{$di.count}</td>
                            <td>
                                <a title="查看" href="{:U('zzshhdtl?id='.$di['id'])}">查看</a>
                                <a title="编辑" href="{:U('zzshhedit?id='.$di['id'])}">编辑</a>
                                <a class="confirm ajax-get" title="删除" href="{:U('zzshhDel?id='.$di['id'],array('status'=>-1))}">删除</a>
                            </td>
                        </tr>
                    </volist>
                </notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
            {$pagination}
        </div>
    </div>
</block>