<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>场馆概括</title>
    <script src="/Public/ljz/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/ljz/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz/css/greatWallIntro.css">
    <link rel="stylesheet" href="/Public/ljz/font/iconfont.css">
</head>
<body>
    <div class="layout">
        <ul class="intro-box">
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-blue iconfont icon-ziyingting fl"></span>
                    <span class="name fl">国防展厅</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>针对国防教育的需要，不断更新展板内容，以系列展的形式展示党史、军史、国防形势等知识，让参观者常看常新。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/1.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-green iconfont icon-dating fl"></span>
                    <span class="name fl">民防展厅</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>通过民防教育展板、实物、宣传片等多种形式向社区居民进行人民防空防灾教育。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/2_1.jpg" alt="">
                        </li>
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/2_2.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-red iconfont icon-leitai fl"></span>
                    <span class="name fl">长城擂台</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>打造国防知识竞赛的互动平台，调动了居民学习国防知识的积极性。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/3.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-yellow iconfont icon-book fl"></span>
                    <span class="name fl">长城书屋</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>藏有上千册国防知识书刊、百余部经典军事题材影碟片，以及社区自编自作的多部社区国防教育教材。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/4.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-blue iconfont icon-yuangongtiandi fl"></span>
                    <span class="name fl">浩气存天地</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>采用互动多媒体图片和视频的形式展示合庆街道烈士的先进事迹和烈士遗属的感想感言，并可在视频前向烈士致敬献花。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/5.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-red iconfont icon-hunliicon fl"></span>
                    <span class="name fl">热血铸军魂</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>采用互动多媒体图片的形式介绍合庆街道现役军人风采。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/6.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-green iconfont icon-langmanqingchuncopy fl"></span>
                    <span class="name fl">无悔献青春</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>采用互动多媒体图片和视频的形式展示合庆退伍军人在军营中和退伍后的风采以及对军旅生涯的感悟。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/7.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-orange iconfont icon-xunzhang fl"></span>
                    <span class="name fl">功勋墙</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>以电子触摸屏和实物的形式展现合庆街道烈士、老战士、现役军人等曾经为国防和军队建设做出的贡献。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/8_1.jpg" alt="">
                        </li>
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/8_1.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-blue iconfont icon-tinggeshiqu fl"></span>
                    <span class="name fl">长城吟新曲</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>通过四块电子触摸屏以图片集的形式展现合庆街道近几年来国防教育工作、国防后备力量建设工作、双拥工作的开展情况，前来参观的人还可以在此写下自己对国防双拥的感想。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/9_1.jpg" alt="">
                        </li>
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/9_2.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-red iconfont icon-rongyu fl"></span>
                    <span class="name fl">荣誉角</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>通过奖牌奖杯等实物的陈列展现合庆街道近年来在国防教育、国防后备力量建设、双拥工作、民防工作等领域取得的成绩。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/10.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-green iconfont icon-yulan fl"></span>
                    <span class="name fl">长城博览</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>设有三台电子触摸屏，可以浏览国防和军队建设、相关法律法规、共建部队信息等方面的知识。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/11.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-orange iconfont icon-liaowang1 fl"></span>
                    <span class="name fl">海疆瞭望</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>通过环形屏幕投影和沙盘互动相结合的方式，展示我国东海南海及所属岛屿的海疆态势及面临的危机与挑战，了解我国的海疆战略。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/12.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="intro-list">
                <div class="intro-title clearfix">
                    <span class="color-icon color-orange iconfont icon-yuzhouxingqiu-23 fl"></span>
                    <span class="name fl">神州飞天</span>
                    <span class="iconfont icon-xia fr"></span>
                </div>
                <div class="intro-detail hide">
                    <div class="text">
                        <p>采用模拟火箭发射和航天员出仓场景，让观众感受国防科技的发展水平，提升民族自豪感。</p>
                    </div>
                    <ul class="photo clearfix">
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/13_1.jpg" alt="">
                        </li>
                        <li class="fl">
                            <img src="/Public/ljz/img/greatwall/13_2.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <script src="/Public/ljz/js/alert.js"></script>
    <script src="/Public/ljz/js/jquery.js"></script>
    <script>
        $(function () {
            var index = null;  // 索引值

            $('.intro-title').on('click', function () {
                // 样式初始化
                $('.intro-detail').removeClass('show').addClass('hide').prev().find('.icon-xia').removeClass('rotate');
                var thisIndex = $(this).parent().index();
                if (typeof index === 'number' && index == thisIndex) {
                    index = null;
                    return;
                }
                index = thisIndex;
                // 改变样式
                $(this).next().removeClass('hide').addClass('show').end().find('.icon-xia').addClass('rotate');
            })
        });
    </script>
</body>
</html>