<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>党群一体化</title>
    <script src="/Public/ljz/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/ljz/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz/css/dangqun.css">
</head>
<body>
    <section class="layout">
        <ul class="party-list">
            <li class="party-item">
                <div class="txt-box">
                    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4MzQ5ODAzMg==&scene=124#wechat_redirect">
                        <h4 class="name">合庆职工之家</h4>
                        <p class="abstract">帮困送暖 法律援助 劳动竞赛 素质工程 维护稳定 工会组建 民主管理 集体协商</p>
                        <p class="suggest">也可长按识别二维码关注</p>
                    </a>
                </div>
                <div class="img-box">
                    <img src="/Public/ljz/img/ewm/ewm_ljzhome.png" alt="">
                </div>
                <span class="color bg-pink"></span>
            </li>
            <li class="party-item">
                <div class="txt-box">
                    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUzNTAwNzg2MQ==&scene=124#wechat_redirect">
                        <h4 class="name">幸福合庆</h4>
                        <p class="abstract">幸福小陆</p>
                        <p class="suggest">也可长按识别二维码关注</p>
                    </a>
                </div>
                <div class="img-box">
                    <img src="/Public/ljz/img/ewm/ewm_happiness.png" alt="">
                </div>
                <span class="color bg-yellow"></span>
            </li>
            <li class="party-item">
                <div class="txt-box">
                    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MjE5OTM0Mg==&scene=124#wechat_redirect">
                        <h4 class="name">浦东青年</h4>
                        <p class="abstract">为工作、生活以及路过浦东的青年人服务，我们关注你的关注！</p>
                        <p class="suggest">也可长按识别二维码关注</p>
                    </a>
                </div>
                <div class="img-box">
                    <img src="/Public/ljz/img/ewm/ewm_youngpd.jpg" alt="">
                </div>
                <span class="color bg-green"></span>
            </li>
        </ul>
    </section>
</body>
</html>