<extend name="Base/commonljz"/>

<block name="body">
    <link rel="stylesheet" href="/Public/ljz/css/gyc2.css">
    <div class="layout">
        <section class="project">
            <h2>{$data.name}</h2>
            <!--<p class="time">2017-01-03</p>-->
            <p class="content">{$data.desc}</p>
            <notempty name="pics" >
                <volist name="pics" id="di" >
                <img src="{$di|get_cover='path'}" alt="">
                </volist>
            </notempty>

        </section>
        <section class="btn">
            <span class="company fl" id="rl" >我要认领</span>
            <span class="person fr" id="xq">我有需求</span>
        </section>
    </div>

    <script src="/Public/ljz/js/jquery.js"></script>
    <script>

 	$("#rl").on("click",function () {
		 window.location.href='/Home/ljz/gycyy/id/{$data.id}';
    });
    $("#xq").on("click",function () {
        window.location.href='/Home/ljz/xq';
    });

    </script>
</block>