<extend name="Base/commonljz"/>

<block name="body">
    <link rel="stylesheet" href="/Public/ljz/css/myTransfer.css">
    <div class="layout">
        <section class="status clearfix">
            <p>预约类型：党员组织关系转入</p>
            <p>预约时间：2017-03-12  08:30-09:30</p>
            <p>预约地址：浦东大道720号国际航运大厦</p>
            <p>电话号码：13816974275</p>
            <p>审核状态：<span>审核中</span></p>
        </section>
        <section class="opinion clearfix">
            <p>如果审核通过，请参考<a href="javascript:;">《党员组织关系转接流程》</a>进行办理</p>
            <p>咨询电话：68952369</p>
        </section>
    </div>
    <script src="/Public/ljz/js/jquery.js" ></script>
</block>