<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>双报到党员</title>
    <script src="/Public/ljz/js/flexible.js"></script>
    <!-- 自动添加私有前缀 -->
    <script src="/Public/ljz/js/prefixfree.min.js"></script>
    <link rel="stylesheet" href="/Public/ljz/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz/css/partier.css">
</head>
<body>
    <div class="layout">
        <div class="info-box">
            <div class="header">
                <div class="img-box">
                    <img src="/Public/ljz/img/people/n04.jpg" alt=""/>
                </div>
                <h2>林心如</h2>
            </div>
            <div class="detail">
                <p>性别：<span>女</span></p>
                <p>民族：<span>汉族</span></p>
                <p>出生年月：<span>1980.12.10</span></p>
                <p>居住地址：<span>上海市浦东新区民生路111号301室</span></p>
                <p>工作单位：<span>上海科技发展有限公司</span></p>
                <p>职务：<span>产品经理</span></p>
                <p>特长：<span>篮球、绘画</span></p>
                <p>联系方式：<span>13890987890</span></p>
            </div>
        </div>
    </div>


</body>
</html>