<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>党费缴纳细则</title>
    <script src="/Public/ljz/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/ljz/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz/css/partyPayDetail.css">
</head>
<body>
    <div class="layout">
        <section class="abstruct">
            <h1>《浦东新区关于党员党费收缴的实施细则》</h1>
            <div>
                <p>区委各部、委、办，区政府各委、办、局党组（党委），各区级机关党组，各人民团体党组，各开发区党组，
                    各直属机构党组，各直属公司党委，各街道党工委、镇党委组织（干部）部门：</p>
                <p>现将《浦东新区关于党员党费收缴的实施细则》印发给你们，请结合实际，认真贯彻执行。</p>
            </div>
            <div class="mt70">
                <p>中共上海市浦东新区委员会组织部</p>
                <p>2016年8月30日</p>
            </div>
            <div class="mt70">
                <p>中共上海市浦东新区委员会组织部办公室</p>
                <p>2016年9月1日印发</p>
            </div>
        </section>

        <section class="detail">
            <h2>浦东新区关于党员党费收缴的实施细则</h2>
            <div>
                <h3>第一章  总体要求</h3>
                <p><span>第一条</span>  为进一步规范党员党费收缴，更好地发挥党费在增强党员意识和党性观念等方面的
                作用，根据党章及党内有关规定，制定本细则。</p>
                <p><span>第二条</span>  党员交纳党费应把握以下四项基本要求：</p>
                <p>（一）自觉。党费一般应由党员本人亲自交纳，不得垫交或扣缴党费。如遇特殊情况，经党支部同意，可以委托
                其亲属或者其他党员代为交纳；</p>
                <p>（二）按时。党员交纳党费一般应按月交纳，不得无故拖延。如遇特殊情况，经党支部同意，可以每季度交纳一
                次党费；</p>
                <p>（三）足额。党员交纳党费应根据个人实际收入，按照规定比例和标准交纳，不准隐瞒收入或减少交纳党费基数
                少交党费；</p>
                <p>（四）自愿。党员自愿多交党费不限。鼓励和倡导有条件的党员自愿一次多交纳1000元及以上的党费。</p>
            </div>
            <div>
                <h3>第二章  一般规则</h3>
                <p><span>第三条</span>  党员交纳党费的基数计算办法：</p>
                <p>（一）按月领取工资的党员，每月以工资总额中相对固定的、经常性的工资收入（指税后收入，即：各项收入之
                和扣除应缴纳的个人承担部分的公积金、养老保险、医疗保险、失业保险以及职业年金和个人所得税的余额，下同）
                为计算基数。具体包括：</p>
                <p>（1）机关公务员（含参照公务员管理的人员）的职务工资、级别工资、工资改革保留补贴、工作性津贴和生活性
                补贴；</p>
                <p>（2）事业单位工作人员（含享受事业待遇人员）的基本工资（含岗位工资、薪级工资）、绩效工资（含岗位津贴、
                工作量津贴和月度发放的绩效奖励）；</p>
                <p>（3）企业人员工资收入中的固定部分和活的部分，包括企业内职工普遍发放的基本工资、岗位（职务）工资、技
                能工资、岗位（职务）津贴补贴，以及定期普遍发放的奖金和绩效工资；</p>
                <p>（4）社区工作者的基本工资和绩效奖金。</p>
                <p>（二）实行年薪制人员中的党员，每月以当月实际领取的薪酬收入为计算基数，年终兑现绩效薪酬的当月按本月实
                际领取薪酬的总数为计算基数。</p>
                <p>实行“基本报酬+工作业绩奖励”报酬制度的村干部党员，参照年薪制人员中的党员交纳党费的办法执行。</p>
                <p>（三）不按月取得收入的党员，包括个体工商户、个体经营者、私营企业者、民办非企业单位出资人、自由职业者
                等人员中的党员，以上季度月平均收入为计算基数。</p>
                <p><span>第四条</span>  党员交纳党费的比例为：</p>
                <p>（一）每月收入在3000元以下（含3000元）者，交纳收入的0.5%；</p>
                <p>（二）3000元以上至5000元（含5000元）者，交纳1%；</p>
                <p>（三）5000元以上至10000元（含10000元）者，交纳1.5%；</p>
                <p>（四）10000元以上者，交纳2%。</p>
            </div>
            <div>
                <h3>第三章  特殊情况</h3>
                <p><span>第五条</span>  离退休干部、职工中的党员，每月以实际领取的离退休费总额或养老金总额为计算基数。</p>
                <p>离退休费总额包括离退休时计发的基本离退休费和离退休后历次按规定增加的基本离退休费之和，以及按照国家规
                定普遍发放的离退休人员补贴。</p>
                <p>养老金总额包括：基本养老金（包括基础养老金、过渡性养老金和个人账户养老金）、企业年金（职业年金）和统
                筹外养老金。</p>
                <p>交纳比例为：（一）5000元以下（含5000元）者按照0.5%交纳；（二）5000元以上者按照1%交纳。</p>
                <p><span>第六条</span>  退休返聘人员的党员，每月以实际领取的离退休费总额或养老金总额和返聘所得收入为
                基数，分别计算。</p>
                <p>交纳比例分别参照第五条、第三条执行。</p>
                <p><span>第七条</span>  农民党员（即农村中从事农牧渔业生产的党员）按照每月1元的标准交纳党费。</p>
                <p><span>第八条</span>  学生党员，以及没有收入的党员，下岗失业的党员、依靠抚恤或救济生活的党员、领取
                最低生活保障金的党员，每月交纳党费0.2元。</p>
                <p><span>第九条</span>  交纳党费确有困难的党员，经党支部研究，报上一级党委批准后，可以少交或免交党费。</p>
            </div>
            <div>
                <h3>第四章  具体办法</h3>
                <p><span>第十条</span>  党员一般应当向其正式组织关系所在的党支部交纳党费。持《中国共产党流动党员活动
                证》的党员,外出期间可以持证向流入地党组织交纳党费。</p>
                <p><span>第十一条</span>  预备党员从支部大会通过其为预备党员之日起交纳党费。</p>
                <p>预备党员在支部大会决定其取消其预备党员资格后，上级党委批准前，仍应按照规定交纳党费。</p>
                <p><span>第十二条</span>  受到警告、严重警告、撤销党内职务、留党察看处分的党员，仍应按照规定交纳党费。
                受到开除党籍处分的党员，在支部大会作出决议后，上级党组织审批期间，仍应交纳党费，直至上级党组织对这一处分
                决定批准为止。</p>
                <p><span>第十三条</span>  基层党组织至少每年对党员党费核算一次。遇到党员收入集中调整等特殊情况，应即
                时核算。</p>
                <p>党员本人收入待遇增加时，要及时向党组织申报，具体说明增资的项目和金额。党组织要及时与相关单位或部门沟通，
                以便准确计算党员交纳党费基数和收缴党费。</p>
                <p>党员收入发生变化后，从按新标准领取收入的当月起，以新的收入为基数，按照规定比例交纳党费。</p>
            </div>
            <div>
                <h3>第五章  工作机制</h3>
                <p><span>第十四条</span>  建立健全党员党费交纳情况的公开机制。以党支部为单位，依托党务公开栏、微信群等
                载体，每季度对党员每月交纳党费的金额、频次、方式等内容进行公开，推动党员相互监督。</p>
                <p><span>第十五条</span>  建立健全党员党费交纳的定期通报机制。将党员党费交纳情况作为党支部向支部大会报
                告工作的规定内容，以党支部为单位，依托支部大会，每半年对党员交纳党费情况进行通报。</p>
                <p><span>第十六条</span>  建立健全党员党费交纳的评估评价机制。把党员交纳党费情况作为党员党性分析、开展
                批评和自我批评的重要内容，作为党员民主评议、创先争优的重要依据。对不按照规定交纳党费的党员，党支部应及时对其
                进行批评教育，限期改正。对无正当理由，连续6个月不交纳党费的党员，按自行脱党处理。</p>
                <p><span>第十七条</span>  建立健全党员党费交纳的考核激励机制。把党员党费收缴情况纳入各级党组织基层党建
                责任制检查、分类定级晋位升级考核、基层党建示范点创建及创先争优、年度考核的必备内容。对不按规定核定或收缴党费
                的党组织，取消其当年度评先评优资格，并予以批评，限期整改。</p>
            </div>
            <div>
                <h3>第六章  附则</h3>
                <p><span>第十八条</span>  本细则由浦东新区区委组织部负责解释。</p>
                <p><span>第十九条</span>  本细则自发布之日起施行。</p>
            </div>
        </section>
    </div>
</body>
</html>