<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>驻区单位党组织</title>
    <script src="/Public/ljz/js/flexible.js"></script>
    <!-- 自动添加私有前缀 -->
    <script src="/Public/ljz/js/prefixfree.min.js"></script>
    <link rel="stylesheet" href="/Public/ljz/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz/css/partierOrg.css">
</head>
<body>
<div class="layout">
    <div class="info-box">
        <div class="header">
            <h2>总支总支委员会</h2>
        </div>
        <div class="detail">
            <p>党支部数：<span>5</span>个</p>
            <p>党员数：<span>30</span>人</p>
            <p>平均年龄：<span>37</span>岁</p>
            <p>女性党员比例：<span>50%</span></p>
            <p>大专以上文化水平比例：<span>80%</span></p>
            <p>本科学历人数：<span>20</span>人</p>
            <p>研究生学历人数：<span>3</span>人</p>
            <p>党员任中层干部以上比例：<span>70%</span></p>
            <p>党委概况：
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
            </p>
        </div>
    </div>
</div>


</body>
</html>