<extend name="Base/commonljz"/>

<block name="body">
<link rel="stylesheet" href="/Public/ljz/css/peopleDetail.css">

   <div class="layout">
        <div class="infor-box clearfix">
            <!--照片栏 start-->
            <div class="photo">
                <img src="/Public/ljz/img/default_avatar.png" alt="">
            </div>

            <!--基本信息栏 start-->
            <div class="base">
                <h2>彭于晏</h2>
                <p>
                    <span>男</span>&nbsp;&nbsp;
                    <span>汉族</span>
                </p>
                <p>国航大厦联合党支部</p>
            </div>

            <!--社区党校栏 start-->
            <div class="community">
                <p>社区党校积分</p>
                <p>
                    <span class="orange">200</span>
                </p>
            </div>

            <!--组织生活栏 start-->
            <div class="organization">
                <p>组织生活积分</p>
                <p>
                    <span class="orange">296</span>
                </p>
            </div>

            <!--志愿服务栏 start-->
            <div class="server">
                <p>志愿服务积分</p>
                <p>
                    <span class="orange">573</span>
                </p>
            </div>

            <!--党费缴纳栏 start-->
            <div class="pay">
                <p>党费缴纳</p>
                <p>
                    <span class="orange">200</span>&nbsp;元
                </p>
            </div>
        </div>
    </div>
</block>