<extend name="Base/commonljz"/>
<block name="body">
    <link rel="stylesheet" href="/Public/ljz/css/sourceList.css">
    <div class="layout">
        <ul>
            <li class="clearfix" id="qd1">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #FF8CAD;"></span>
                        <p>合庆街道活动场地</p>
                        <span>Place</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_01.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd2">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #F9C441;"></span>
                        <p>金融服务进社区</p>
                        <span>Financial service</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_02.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd3">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #ABDA8A"></span>
                        <p>社区帮困</p>
                        <span>Help communities</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_03.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd4">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #A1D3FE"></span>
                        <p>居民区与社区单位联建</p>
                        <span>Construction of governance</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_04.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd5">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #F98D50"></span>
                        <p>拥军优属服务项目</p>
                        <span>Support the armed forces</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_05.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd6">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #719DEA"></span>
                        <p>社会组织服务</p>
                        <span>Social organization</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_06.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd7">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #AD8ADA"></span>
                        <p>公益进工地</p>
                        <span>Poor service</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_07.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  id="qd8">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #6EA6AE"></span>
                        <p>社区文化活动</p>
                        <span>Cultural activity</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_08.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  data-qdtype="2">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #FF8CAD"></span>
                        <p>合庆党建服务站点</p>
                        <span>Server Station</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_09.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  data-qdtype="4">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #F9C441"></span>
                        <p>合庆公益城</p>
                        <span>Benefit City</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_10.png" alt="">
                    </div>
                </a>
            </li>

            <li class="clearfix"  data-qdtype="7">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #ABDA8A"></span>
                        <p>白领课堂</p>
                        <span>Superior lessons</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_11.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  data-qdtype="9">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #A1D3FE"></span>
                        <p>合庆街道自治金项目</p>
                        <span>Autonomous Asset</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_12.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  data-qdtype="12">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #F98D50"></span>
                        <p>群团服务项目</p>
                        <span>Organization Server</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_13.png" alt="">
                    </div>
                </a>
            </li>
            <li class="clearfix"  data-qdtype="13">
                <a href="javascript:;" class="clearfix">
                    <div class="txt-box fl">
                        <span class="color" style="background-color: #719DEA"></span>
                        <p>社区事务受理事项</p>
                        <span>Community Transaction</span>
                    </div>
                    <div class="img-box fr">
                        <img src="/Public/ljz/img/sourcelist/sl_14.png" alt="">
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <script src="/Public/ljz/js/jquery.js"></script>
    <script>
		$(function () {
            $("li[data-qdtype]").on("click",function () {
                window.location.href='__CONTROLLER__/zymap/type/'+$(this).data("qdtype")+'.html';
            });


            $('#qd1').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/3.html';
            });
            $('#qd2').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/11.html';
            });
            $('#qd3').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/5.html';
            });
            $('#qd4').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/1.html';
            });
            $('#qd5').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/14.html';
            });
            $('#qd6').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/8.html';
            });
            $('#qd7').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/6.html';
            });
            $('#qd8').on('click', function () {
                window.location.href='__CONTROLLER__/zymap/type/10.html';
            });
        });
    </script>
</block>