html {
  width: 1080px;
  height: 1920px;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'microsoft yahei';
}
.return {
  width: 194px;
  height: 81px;
  text-align: center;
  line-height: 81px;
  border-radius: 10px;
  background-color: #5D1113;
  position: relative;
  top: 82px;
  left: 51px;
}
.return a {
  color: #FFF;
  font-size: 30px;
}
.return a .iconfont {
  font-size: 70px;
  vertical-align: middle;
}
body {
  background: url("../imgs/bg/zyz_bg.jpg") 100% 100% no-repeat;
}
.help {
  width: 991px;
  height: 689px;
  padding: 60px 45px 0;
  margin: 122px auto 0;
  background-color: #FFF;
  border-radius: 10px;
}
.help p {
  color: #D73334;
  font-size: 34px;
  line-height: 50px;
  text-indent: 2em;
}
.help .ewm-wrapper {
  margin-top: 50px;
}
.help .ewm-wrapper .ewm-help {
  width: 265px;
  height: 266px;
  margin: 0 auto;
  border: 2px solid #616161;
  box-sizing: border-box;
}
.help .ewm-wrapper .ewm-help > img {
  display: block;
  width: 100%;
  height: 100%;
}
.help .ewm-wrapper .text {
  width: 270px;
  color: #FFF;
  font-size: 25px;
  text-align: center;
  line-height: 56px;
  border-radius: 25px;
  margin: 17px auto;
  background-color: #616161;
}
.more {
  color: #FFF;
  font-size: 38px;
  line-height: 40px;
  text-align: right;
  padding: 0 45px;
  margin-top: 45px;
}
.volunteer {
  width: 991px;
  height: 870px;
  margin: 25px auto 0;
  overflow-x: hidden ;
  overflow-y: auto;
}
.volunteer::-webkit-scrollbar {
  display: none;
}
.volunteer .list-wrapper {
  width: 100%;
}
.volunteer .list-wrapper .list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 22px 0 16px 15px;
  margin-bottom: 41px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.volunteer .list-wrapper .list .list-left {
  width: 309px;
  height: 225px;
}
.volunteer .list-wrapper .list .list-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.volunteer .list-wrapper .list .list-right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 30px 0 36px;
  position: relative;
}
.volunteer .list-wrapper .list .list-right .list-title {
  color: #DD4034;
  font-size: 41px;
  line-height: 57px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.volunteer .list-wrapper .list .list-right .list-intro {
  color: #737373;
  font-size: 29px;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.volunteer .list-wrapper .list .list-right .join {
  display: block;
  width: 242px;
  height: 59px;
  color: #FFF;
  font-size: 32px;
  text-align: center;
  line-height: 59px;
  border-radius: 10px;
  background-color: #DC4235;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.volunteer .list-wrapper .list .list-right .ewm-box {
  width: 265px;
  border: 2px solid #616161;
  box-sizing: border-box;
  background-color: #FFF;
  position: absolute;
  top: -25px;
  left: 285px;
  z-index: 100;
}
.volunteer .list-wrapper .list .list-right .ewm-box > img {
  display: block;
  width: 100%;
}
.volunteer .list-wrapper .list .list-right .ewm-box > p {
  text-align: center;
}
