<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的积分</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/caller/integral.css"/>
</head>
<body>
<div>
    <div class="t_top">
        <p style="color: rgba(255,255,255,0.7);font-size: 15px;font-weight: 600;">我的积分</p>
        <p style="color: #fff;font-size: 18px;font-weight: 600;margin-top: 5px">270分</p>
    </div>
    <p class="title">
        积分明细
    </p>
</div>
<div>
    <ul>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
        <li>
            <p class="i_info">完成志愿者1的支助</p>
            <p class="i_time">2016-02-26 12:15:35</p>
            <i class="i_integral">+10</i>
        </li>
    </ul>
</div>
</body>
</html>