<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>设置</title>
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/settings.css"/>
</head>
<body>
<div class="ws_content">
    <div class="weui_cells weui_cells_access" style="color: #3E4752">
        <a class="weui_cell" href="#">
            <div class="weui_cell_bd weui_cell_primary">
                <p>账号绑定</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" href="#">
            <div class="weui_cell_bd weui_cell_primary">
                <p>修改密码</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" href="#">
            <div class="weui_cell_bd weui_cell_primary">
                <p>关于我们</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>

    <a class="logout" >退出登录</a>

</div>
</body>
</html>