<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>志愿者主页</title>
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/vhome.css"/>
</head>
<body>
<div class="ws_content" style="padding-bottom: 30px">
    <!--志愿者信息 start-->
    <div class="ws_vinfo">
        <img src="/Public/images/ic_avatar.png" class="ws_avatar">
        <div class="ws_vinfo_right">
            <span>志愿者1</span>
            <div>
                <i class="ws_star">★</i>
                <i class="ws_star">★</i>
                <i class="ws_star">★</i>
                <i class="ws_star">★</i>
            </div>
            <div style="font-size: small">
                简介：党员,人人为我我为人人
            </div>
            <div style="font-size: 13px;margin-top: 5px">
                服务次数 25 | 锦旗数 8
            </div>
        </div>
    </div>
    <div class="vinfo_tags ws_divider">
        <p style="font-size: 14px;color: #5A5A5A">擅长的服务</p>
        <i class="ws_tag">修水管</i>
        <i class="ws_tag">收快递</i>
        <i class="ws_tag">扛大米</i>
        <i class="ws_tag">扛大米扛大米</i>
        <i class="ws_tag">收快递</i>
        <i class="ws_tag">扛大米</i>
    </div>
    <!--志愿者信息 end-->
    <!--发布请求 start-->
    <div style="text-align: center;padding-top: 10px" class="ws_divider" >
        <!--<a class="resort" href="resort.html">发布<br>请求</a>-->
        <a  href="resort.html">
            <img src="/Public/images/ic_resort1.png" alt="" width="80px" height="80px">
        </a>
        <p style="color: #9B9B9B; font-size: 13px;padding-bottom: 10px">点击“发布请求”进行求助</p>
    </div>
    <!--发布请求 end-->
    <!--支助信息 start-->
    <div>
        <ul class="ws_ul" >
            <li>
                <img src="/Public/images/ic_avatar.png" class="item_avatar">
                <div class="item_info">
                    <span class="item_time" >16:20</span>
                    <span class="item_name">张大爷</span><br>
                    <span style="font-size: 12px" >发布了一条紧急求助</span><br>
                    <span style="font-size: 12px" >修理水管</span><br>
                    <span style="font-size: 12px" >上海市浦东新区民生路1399号</span><br>
                    <p class="li_divider" ></p>
                    <div style="margin: 5px 0 6px">
                        <span style="font-size: 14px;display: inline-block" >求助已被接受</span>
                    </div>
                </div>
            </li>
            <li>
                <img src="/Public/images/ic_avatar.png" class="item_avatar">
                <div class="item_info">
                    <span class="item_time"  >16:20</span>
                    <span class="item_name">张大爷</span><br>
                    <span style="font-size: 12px" >发布了一条紧急求助</span><br>
                    <span style="font-size: 12px" >修理水管</span><br>
                    <span style="font-size: 12px" >上海市浦东新区民生路1399号</span><br>
                    <p class="li_divider"></p>
                    <div style="margin: 5px 0 6px">
                        <span style="font-size: 14px;display: inline-block" >求助已被接受</span>
                    </div>
<!--                    <div style="overflow: hidden">
                        <a class="ws_btn_primary" >立即评价</a>
                        <a class="ws_btn_primary" >接受请求</a>
                    </div>-->
                </div>
            </li>
        </ul>
    </div>
    <!--支助信息 end-->
</div>
</body>
<script src="/Public/js/jquery-2.1.1.js"></script>
<script>
</script>
</html>