<block name="body">
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
       <img src="/Public/wx/{$id}.png" border="0" usemap="#Map"  style="width: 100%;margin: 0;padding: 0;" />
       <map name="Map">
         <area shape="rect" coords="0,0,350,350" href="/home/index/pic/id/1" target="_self">
         <area shape="rect" coords="350,0,350,666" href="/home/index/pic/id/3" target="_self">
         <area shape="rect" coords="0,350,666,666" href="/home/index/pic/id/4" target="_self">
       </map>
</block>