<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>关于我们</title>
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
</head>
<body style="text-align: center;color: #3E4752;font-size: 1em;">
<img src="/Public/images/ic_logo.png" width="72" height="72" style="margin-top: 50px">
<p style="margin:30px 25px 100px;text-indent: 2em;text-align: left">
    "爱互助"是一款基于社区为老关爱的平台，建立起社区居委、志愿者、老人、子女的纽带，老人可以一键求助和陪伴，寻找身边的志愿者为老人提供服务，形成以社区家庭、社区志愿服务为核心的为老服务关爱新模式。
</p>
<p style="position: fixed;bottom: 20px;text-align: center;left: 0;right: 0;" >维世（上海）投资发展有限公司</p>
<!--<p style="position: fixed;bottom: 20px;text-align: center;left: 0;right: 0;" ><a href="{:U('General/test')}">维世（上海）投资发展有限公司</a></p>-->
<!--<p style="position: fixed;bottom: 20px;text-align: center;left: 0;right: 0;"><a href="http://paysdk.weixin.qq.com/">维世（上海）投资发展有限公司</a></p>-->
</body>
</html>