<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>{$cinfo.realname}的主页</title>
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/vhome.css"/>
</head>
<body>
<div class="ws_content" style="padding-bottom: 30px">
    <!--信息 start-->
    <div class="ws_vinfo">
        <img src="{$cinfo.face|getFace}" class="ws_avatar">
        <div class="ws_vinfo_right">
            <span>{$cinfo.realname}</span>
            <div style="font-size: small">
                简介：{$cinfo.signature|default="这个人很懒，什么都没有写"}
            </div>
        </div>
    </div>
    <!--信息 end-->
    <p style="font-size: 15px;color: #5A5A5A;padding: 5px 15px;border-bottom: 1px solid #D5D5D6">求助纪录</p>
    <!--求助信息 start-->
    <div>
        <ul class="ws_ul" id="list">
        </ul>
        <div id="nomorediv" style="height: 3em;line-height: 3em;text-align: center;display: none;color: #5A5A5A">
            没有数据了
        </div>
    </div>
    <!--求助信息 end-->
</div>
</body>
<script type="text/javascript" src="/Public/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/Public/js/layer_mobile/layer.js"></script>
<script>
    var rows = 10;
    var page = 1; //设置当前页数，全局变量
    var nomore = false;
    var isloading = false;

    function getData() {
        if (nomore || isloading) {
            return;
        }
        isloading = true;
        $.get('{:U("listCHomeOrder")}', {
            page: page,
            uid: '{$cinfo.uid}'
        }, function (data) {
            isloading = false;
            if ('nomore' == data) {
                $('#nomorediv').show();
                nomore = true;
            } else {
                page++;
                $("#list").append(data);
            }
        });
    }
    getData();

    $(function () {
        var winH = $(window).height();
        $(window).scroll(function () {
            var pageH = $(document).height();
            var scrollT = $(window).scrollTop();
            var aa = (pageH - winH - scrollT) / winH;
            if (aa < 0.02) {
                getData();
            }
        });
    });

</script>
</html>