<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/caller/home.css"/>
    <link rel="stylesheet" href="/Public/css/orderdetail.css"/>
</head>
<body style="padding-bottom: 70px;background: #ededed">
<div class="ws_content" style="background: #ededed">
    <p class="state">{$order|formatStatus3}</p>
    <if condition="$order.receiver_id neq 0">
        <p class="sub_title">志愿者信息</p>
        <div class="clearfix" style="background: #fff;position: relative;padding: 10px">
            <img src="{$order.receiver_face|getFace}" class="v_avatar">
            <a href="tel:{$order.receiver_phone}">
                <img src="/Public/images/ic_call.png" alt="" class="v_call">
            </a>
            <div class="v_info">
                <p>姓名：{$order.receiver_name}</p>
                <p>电话：{$order.receiver_phone}</p>
            </div>
        </div>
    </if>
    <p class="sub_title ">求助人信息</p>
    <div class="clearfix" style="background: #fff;position: relative;padding: 10px">
        <img src="{$order.fs_face|getFace}" class="v_avatar">
        <div class="r_info">
            <p>时间：{$order.create_time|date="Y-m-d H:i:s",###}</p>
            <p>求助人：{$order.fs_name}</p>
            <p>求助内容：
                <if condition="$order.serviceType neq 0">
                    {$order.serviceType|formatServiceType}
                    <else/>
                    {$order.fs_content}
                </if>
            </p>
            <if condition="$order.wav neq ''">
                <a class="ws_audio1 ws_audio_static" id="o2audio" onclick="controlAudio();return false;">
                    <audio id="audio" src="{:C(SERVER_IP)}{$order.wav}" controls="controls" hidden>不支持audio</audio>
                </a>
            </if>
            <p>地址：{$order.fs_address}</p>
        </div>
    </div>
    <if condition="$order.result neq ''">
        <p class="sub_title ">志愿者评价</p>
        <p class="comment" style="background: #fff">
            {$order.result}
        </p>
    </if>
    <if condition="$order.comment neq ''">
        <p class="sub_title ">求助者评价</p>
        <div style="background: #fff">
            <p class="comment">
                {$order.comment}
            </p>
            <div style="padding-left: 10px">
                <for start="0" end="$order.star">
                    <i class="ws_star">★</i>
                </for>
            </div>
        </div>
    </if>
    <if condition="$order.status eq 6">
        <if condition="$order.result eq ''">
            <div style="background: #fff;padding: 10px;margin-top: 15px">
                待志愿者评价
            </div>
        </if>
        <p class="sub_title ">礼物</p>
        <div style="background: #fff;padding: 10px">
            <img src="{:C('SERVER_IP')}{$giftInfo.pic}" width="80px" height="auto">
        </div>
    </if>
    <switch name="order.status">
        <case value="1"></case>
        <case value="2">
            <if condition="$order.comment_time neq 0">
                <if condition="$order.comment eq ''">
                    <div style="background: #fff;padding: 10px;margin-top: 15px">
                        订单已完成，待评价
                    </div>
                    <else/>
                    <eq name ="order.result_time" value="0" >
                        <div style="background: #fff;padding: 10px;margin-top: 15px">
                            志愿者未完成
                        </div>
                    </eq>
                </if>
            </if>
        </case>
        <case value="3">
            <if condition="$order.result eq ''" >
                <div style="background: #fff;padding: 10px;margin-top: 15px">
                    志愿者已完成，待志愿者评价
                </div>
            </if>
        </case>
        <case value="4">
            <if condition="$order.result eq ''">
                <div style="background: #fff;padding: 10px;margin-top: 15px">
                    待志愿者评价
                </div>
            </if>
        </case>
        <case value="5"></case>
        <case value="6">
        </case>
    </switch>
    <div class="weui_btn_area">
        <switch name="order.status">
            <case value="1">
                <a class="weui_btn weui_btn_default" onclick="cancelResort('{$order.id}')">取消求助</a>
            </case>
            <case value="2">
                <if condition="$order.comment_time eq 0">
                    <a class="weui_btn weui_btn_default" onclick="cancelResort('{$order.id}')">取消求助</a>
                    <a class="weui_btn weui_btn_primary" onclick="completeOrder('{$order.id}','{$order.receiver_id}')"
                    >服务是否完成，请确认</a>
                    <elseif condition="$order.comment eq ''"/>
                    <a class="weui_btn weui_btn_primary"
                       href="{:U('evaluatev')}?oid={$order.id}&uid={$order.receiver_id}">待评价</a>
                </if>
            </case>
            <case value="3">
                <a class="weui_btn weui_btn_primary" onclick="completeOrder('{$order.id}','{$order.receiver_id}')"
                >服务是否完成，请确认</a>
            </case>
            <case value="4">
                <if condition="$order.comment eq ''">
                    <a class="weui_btn weui_btn_primary"
                       href="{:U('evaluatev')}?oid={$order.id}&uid={$order.receiver_id}">待评价</a>
                    <else/>
                    <a class="weui_btn weui_btn_primary" href="{:U('sendgift')}?oid={$order.id}">送礼物</a>
                </if>
            </case>
            <case value="5"></case>
            <case value="6"></case>
        </switch>

    </div>
</div>
<!--tabbar start-->
<div class="ws_tabbar" id="tabs" style="position: fixed ;bottom: 0;z-index: 5">
    <a class="ws_tabbar_item" id="tab_volunteer" href="{:U('Index/wall')}">
        <div class="ws_tabbar_icon">
            <i class="ic_style"></i>
        </div>
        <p class="ws_tabbar_label">风采榜</p>
    </a>
    <a class="ws_tabbar_item" id="tab_resort" href="{:U('General/hwish')}">
        <div class="ws_tabbar_icon">
            <i class="ic_wish"></i>
        </div>
        <p class="ws_tabbar_label">心愿单</p>
    </a>
    <a class="ws_tabbar_item" id="tab_mine" href="hmine.html">
        <div class="ws_tabbar_icon">
            <i class="ic_mine"></i>
        </div>
        <p class="ws_tabbar_label">我的</p>
    </a>
</div>
<!--tabbar end-->
</body>
<script type="text/javascript" src="/Public/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/Public/js/layer_mobile/layer.js"></script>
<script>
    function cancelResort(id) {
        $.post('{:U("Api/orderDel")}', {id: id}, function (data) {
            var d = $.parseJSON(data);
            if (d.result == 1) {
                layer.open({
                    content: d.message
                    , skin: "msg"
                    , time: 2
                    , end: function () {
                        location.reload();
                    }
                });
            } else {
                layer.open({
                    content: d.message
                    , skin: "msg"
                    , time: 2
                });
            }
        });
    }

    var isPlaying = false;
    function controlAudio() {
        if (isPlaying)
            return;

        isPlaying = true;
        var audio = document.getElementById("audio");
        $("#audio").bind('ended', function () {
            $('#o2audio').removeClass("ws_audio_anim");
            isPlaying = false;

        });
        audio.play();
        $('#o2audio').addClass("ws_audio_anim");
    }

    function completeOrder(oid, uid) {
        $.post('{:U("Api/orderComment")}', {oid: oid}, function (data) {
            var d = $.parseJSON(data);
            if (d.result == 1) {
                layer.open({
                    content: "订单已完成，3秒后跳转到评价志愿者"
                    , skin: "msg"
                    , time: 3
                    , end: function () {
                        window.location.href = "{:U('evaluatev')}?oid=" + oid + "&uid=" + uid;
                    }
                });
            } else {
                layer.open({
                    content: d.message
                    , skin: "msg"
                    , time: 2
                });
            }
        });
    }
</script>
</html>