<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="/Public/css/weui.css"/>
    <link rel="stylesheet" href="/Public/css/ws.css"/>
    <link rel="stylesheet" href="/Public/css/volunteer/tag.css"/>
    <style>
    </style>
</head>
<body>
<img src="/Application/Home/water.jpg" width="100%"  >
</body>
<script type="text/javascript" src="/Public/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/Public/js/layer_mobile/layer.js"></script>
<script type="text/javascript" src="/Public/js/ahz.js"></script>
<script>

</script>
</html>