<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>合庆党建</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/index.css">
</head>
<body>

    <section class="wrapper">
        <!--上半区域 start-->
        <section class="wrapper-top">
            <div class="list">
                <a href="{:U('schoolMore')}" class="color-orange">
                    <div class="text">
                        <p>身边</p>
                        <p>党课</p>
                    </div>
                    <span class="iconfont icon-dangyuandangyuanguanlidangyuanzhuanchu"></span>
                </a>
            </div>
            <div class="list">
                <a  href="{:U('activityList')}" class="color-yellow">
                    <div class="text">
                        <p>活动</p>
                        <p>预告</p>
                    </div>
                    <span class="iconfont icon-huodong"></span>
                </a>
            </div>
        </section>
        <!--上半区域 end-->

        <!--下半区域 start-->
        <section class="wrapper-bottom">
            <div class="list">
                <a href="{:U('openIndex')}" class="color-purple">
                    <div class="text">
                        <p>组织</p>
                        <p>概况</p>
                    </div>
                    <span class="iconfont icon-houtai_gongkaike"></span>
                </a>
            </div>
            <div class="list">
                <a   href="{:U('cdmap',array('type'=>2))}" class="color-blue">
                    <div class="text">
                        <p>党群</p>
                        <p>服务站</p>
                    </div>
                    <span class="iconfont icon-shequfuwuzhan"></span>
                </a>
            </div>
        </section>
        <!--下半区域 end-->
    </section>

</body>
</html>