<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>需求清单</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/activityList.css">
</head>
<body>
<!--头部 start-->
<section  class="title clearfix">
    <h1>需求清单</h1>
    <div class="return fl">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>
</section>
<!--头部 end-->

<!--主体 start-->
<section class="content">
    <ul class="list-wrapper">
            <li class="list">
                <p>需求名称：党建服务点</p>
                <p>清单名称：党建服务点清单</p>
            </li>
        <li class="list">
            <p>需求名称：社会组织参与需求</p>
            <p>清单名称：社会组织服务清单</p>
        </li>
        <li class="list">
            <p>需求名称：场地需求</p>
            <p>清单名称：街道活动场地清单</p>
        </li>
        <li class="list">
            <p>需求名称：居民金融理财需求</p>
            <p>清单名称：金融服务进社区清单</p>
        </li>
        <li class="list">
            <p>需求名称：困难家庭学生助学需求</p>
            <p>清单名称：“点亮心愿”社区单位认领清单</p>
        </li>
        <li class="list">
            <p>需求名称：社区文化需求</p>
            <p>清单名称：社区文化活动清单</p>
        </li>
        <li class="list">
            <p>需求名称：建筑工人需求</p>
            <p>清单名称：公益进工地认领清单</p>
        </li>
        <li class="list">
            <p>需求名称：居民办事需求</p>
            <p>清单名称：社区事务受理事项清单</p>
        </li>
        <li class="list">
            <p>需求名称：白领文化需求</p>
            <p>清单名称：白领课堂项目认领清单</p>
        </li>
        <li class="list">
            <p>需求名称：居民自治需求</p>
            <p>清单名称：2017年度合庆街道自治金项目清单</p>
        </li>
    </ul>
</section>
<!--主体 end-->
</body>
