<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>党群服务站</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/serverIndex.css">
</head>
<body>
    <!--头部 start-->
    <section  class="title clearfix">
        <h1>党群服务站</h1>
        <div class="return fl">
            <a href="javascript:;" onClick="javascript:history.back(-1);">
                <span class="iconfont icon-fanhui"></span>
                返回
            </a>
        </div>
    </section>
    <!--头部 end-->

    <!--主体 start-->
    <section class="content">
        <div class="list">
            <a href="{:U('serveStationList')}">
                <div class="circle bg-blue">
                    <span class="iconfont icon-fuwu"></span>
                </div>
                <p class="text">居民区服务站</p>
            </a>
        </div>
        <div class="list">
            <a href="{:U('serverLouyu')}">
                <div class="circle bg-yellow">
                    <span class="iconfont icon-fuwuzhan"></span>
                </div>
                <p class="text">楼宇服务站</p>
            </a>
        </div>
        <div class="list">
            <a href="{:U('qt')}">
                <div class="circle bg-green">
                    <span class="iconfont icon-zuzhiguanli"></span>
                </div>
                <p class="text">群团之家</p>
            </a>
        </div>
    </section>
    <!--主体 end-->
</body>
</html>