<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>楼宇服务站</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/serverLouyu.css">
</head>
<body>
    <!--头部 start-->
    <section  class="title clearfix">
        <h1>楼宇服务站介绍</h1>
        <div class="return fl">
            <a href="javascript:;" onClick="javascript:history.back(-1);">
                <span class="iconfont icon-fanhui"></span>
                返回
            </a>
        </div>
    </section>
    <!--头部 end-->

    <!--主体 start-->
    <section class="content">
        <!--介绍部分-->
        <div class="intro-box">
            <p>2011年3月起，按照东、中、西分片布局，合庆街道在建工大厦、世界广场大厦、斯米克大厦、时代
                金融中心大厦建立起4个商务楼宇综合服务站，负责“两新”组织党建和楼宇企业党建服务。</p>
            <p>2015年，建工楼宇服务站获评“上海市楼宇党建工作创新基地”。</p>
        </div>
        <!--联系方式部分-->
        <div class="contact-box">
            <h3>楼宇党建服务站联系方式：</h3>
            <p>
                <span class="name">建工大厦商务楼宇综合服务站</span>
                <span class="address">福山路33号建工大厦101室</span>
                <span class="tel">50521377</span>
            </p>
            <p>
                <span class="name">斯米克商务楼宇综合服务站</span>
                <span class="address">商城路800号斯米克大厦410室</span>
                <span class="tel">50115052</span>
            </p>
            <p>
                <span class="name">世界广场商务楼宇综合服务站</span>
                <span class="address">浦东南路855号世界广场2楼E座</span>
                <span class="tel">50115051</span>
            </p>
            <p>
                <span class="name">时代金融中心商务楼宇综合服务站</span>
                <span class="address">银城中路68号时代金融中心M层</span>
                <span class="tel">50580959</span>
            </p>
        </div>
        <!--照片部分-->
        <div class="photo-box">
            <div class="photo-left">
                <img src="/Public/ljz2/imgs/louyu/louyu1.png" alt="图片">
            </div>
            <div class="photo-right">
                <img src="/Public/ljz2/imgs/louyu/louyu2.png" alt="图片">
            </div>
        </div>
        <!--二维码部分-->
        <div class="ewm-box">
            <img src="/Public/ljz2/imgs/liantu.png" alt="">
            <p>扫描二维码查看更多</p>
        </div>
    </section>
    <!--主体 end-->
</body>
</html>