<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>党群服务站</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/serverDetail.css">
</head>
<body>
<!--头部 start-->
<section  class="title clearfix">
    <h1>党建服务中心介绍</h1>
    <div class="return fl">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>
</section>
<!--头部 end-->

<!--主体 start-->
<section class="content">
    <p>合庆社区党校成立于2016年4月28日。学校设在合庆社区党建服务中心（商城路 1177弄12号）。</p>
    <p>社区党校按照“配合基层党组织落实政治功能”的办学要求，坚持“党校姓党”的 原则和“从严治校、
    规范管理、科学施教”的治校方针。</p>
    <p>党校的教学培训由特聘的顾问团进行指导。顾问团成员由浦东新区区委组织处，市 、区党校专家、教授
    组成。师资队伍来自东昌中学，东方医院、合庆社区卫生服务中 心、阳光驿站公益服务社、东方讲坛、居
    民区党员志愿者讲师团等单位，他们中既有驻 区单位党的领导干部，也有丰富实践经验的基层党务干部和优秀
    手工作者。党校注重规 范化建设，建立了《社区党校管理制度》等一套相对完善的教育管理制度。</p>
    <p>党校的教学培训由特聘的顾问团进行指导。顾问团成员由浦东新区区委组织处，市 、区党校专家、教授
        组成。师资队伍来自东昌中学，东方医院、合庆社区卫生服务中 心、阳光驿站公益服务社、东方讲坛、居
        民区党员志愿者讲师团等单位，他们中既有驻 区单位党的领导干部，也有丰富实践经验的基层党务干部和优秀
        手工作者。党校注重规 范化建设，建立了《社区党校管理制度》等一套相对完善的教育管理制度。</p>
</section>
<!--主体 end-->
</body>
</html>