<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>制度建设</title>
    <link rel="stylesheet" href="/Public/ljz2/fonts/iconfont.css">
    <link rel="stylesheet" href="/Public/ljz2/css/initialize.css">
    <link rel="stylesheet" href="/Public/ljz2/css/serverDetail.css">
</head>
<body>
<!--头部 start-->
<section  class="title clearfix">
    <h1>制度建设</h1>
    <div class="return fl">
        <a href="javascript:;" onClick="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            返回
        </a>
    </div>
</section>
<!--头部 end-->

<!--主体 start-->
<section class="content">
    <h2>{$data.title}</h2>
    <p>{$data.content}</p>
</section>
<!--主体 end-->
</body>
</html>