html{
	width: 1920px;
	height: 1080px;
	margin: 0 auto;
	overflow: hidden;
}
body{
	width: 100%;
	height: 100%;
	background: url("../img/list-bg.png")  no-repeat;
	background-size: 100% 100%; 
	position: relative;
}
.title{
	z-index: 999;
	width: 100%;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
}
.title .back{
	width: 250px;
	height: 105px;
	color: #fff;
	background: rgba(0,0,0,0.5);
	font-size: 46px;
	float: left;
	text-align: center;
	line-height: 90px;
	border-radius: 55px;
	margin-left: 65px;
	margin-top: 40px;
}
.title .back .icon-fanhui{
	font-size: 70px;
	margin-right: 15px;
}
.title .title-name{
	width: 1450px;
	height: 116px;
	text-align: center;
	line-height: 116px;
	color: #fff;
	font-size: 50px;
	float: left;
	margin-top: 30px;
	background: url("../img/list-item.png") no-repeat;
	background-size:848px 100%; 
	background-position: 280px 0;
}
.content{
	width: 1740px;
	height: 730px;
	padding: 35px 50px;
	border-radius: 10px;
	position: absolute;
	z-index: 888;
	top: 208px;
	left:45px;
	background: rgba(255,255,255,0.5);
	overflow: hidden;
}
.content .wrapper{
	height: 720px;
	overflow: auto;
}
.content .wrapper::-webkit-scrollbar{
  display:none;
}
.content .wrapper .imgarea{
	max-width: 204px;
	margin: 0 auto;
}

.content .wrapper .imgarea img{
	display: block;
	width: 100%;
	height: 100%;
}
.content .wrapper .text{
	color: #444444;
	padding-top: 20px;
	font-size: 30px;
}
.content .wrapper .text p,.content .wrapper .text span{
	color: #444444;
	padding-top: 20px;
	font-size: 30px;
}

