html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'microsoft yahei';
}
.title {
  width: 100%;
  height: 201px;
  position: relative;
}
.title h1 {
  color: #505050;
  font-size: 80px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.title .return {
  width: 279px;
  height: 99px;
  border-radius: 1000px;
  background-color: #5E5F61;
  position: absolute;
  left: 49px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.title .return a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 39px;
  line-height: 99px;
  padding-left: 50px;
}
.title .return a .iconfont {
  font-size: 60px;
  vertical-align: middle;
}
