html {
  width: 1920px;
  height: 1080px;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'microsoft yahei';
}
.title {
  width: 1826px;
  height: 175px;
  margin: 0 auto;
  position: relative;
}
.title h1 {
  color: #FFF;
  font-size: 80px;
  text-align: center;
  line-height: 175px;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#FFDF70));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title .return {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.title .return a {
  display: block;
  color: #FFF;
  font-size: 50px;
  line-height: 128px;
}
.title .return a .iconfont {
  font-size: 100px;
}
body {
  background: url("../imgs/bg/ordinaryBg.jpg") 100% 100% no-repeat;
}
.content {
  width: 1826px;
  height: 861px;
  padding: 18px 53px 10px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.content .list-wrapper {
  width: 100%;
}
.content .list-wrapper .list {
  line-height: 103px;
  padding-left: 15px;
  border-bottom: 2px dashed #FF9584;
  cursor: pointer;
}
.content .list-wrapper .list:last-child {
  border-bottom: none;
}
.content .list-wrapper .list p {
  color: #791100;
  font-size: 40px;
}
