html {
  font-size: 108px;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  font-family: 'microsoft yahei';
  background-color: #FFF;
  position: relative;
}
.bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: none;
}
.layout {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.top {
  width: 100%;
  padding-top: 0.09259259rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.top .to-list {
  font-size: 15px;
  color: #fff;
  line-height: 1.11111111rem;
  background-color: #00a0e9;
  border-radius: 5px;
  padding: 0 0.18518519rem;
  margin-left: 0.27777778rem;
}
[data-dpr="2"] .top .to-list {
  font-size: 30px;
}
[data-dpr="2.5"] .top .to-list {
  font-size: 38px;
}
[data-dpr="2.75"] .top .to-list {
  font-size: 41px;
}
[data-dpr="3"] .top .to-list {
  font-size: 45px;
}
[data-dpr="4"] .top .to-list {
  font-size: 60px;
}
.top .maptitle {
  min-width: 50%;
  line-height: 1.11111111rem;
  color: #fff;
  font-size: 15px;
  text-align: center;
  background-color: #FF973B;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #aaa;
  margin-right: 0.27777778rem;
  opacity: 0.8;
}
[data-dpr="2"] .top .maptitle {
  font-size: 30px;
}
[data-dpr="2.5"] .top .maptitle {
  font-size: 38px;
}
[data-dpr="2.75"] .top .maptitle {
  font-size: 41px;
}
[data-dpr="3"] .top .maptitle {
  font-size: 45px;
}
[data-dpr="4"] .top .maptitle {
  font-size: 60px;
}
.bottom {
  width: 100%;
  height: 1.44444444rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.18518519rem 0.27777778rem;
  border-top: 2px solid #E2E2E2;
  overflow-x: auto;
  position: absolute;
  bottom: 0.18518519rem;
  left: 0;
  z-index: 100;
}
.bottom .btm-ul {
  width: 150%;
}
.bottom .btm-ul .btn {
  float: left;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  line-height: 0.98148148rem;
  padding: 0 0.0462963rem;
  margin-right: 0.18518519rem;
  background-color: #00a0e9;
}
[data-dpr="2"] .bottom .btm-ul .btn {
  font-size: 30px;
}
[data-dpr="2.5"] .bottom .btm-ul .btn {
  font-size: 38px;
}
[data-dpr="2.75"] .bottom .btm-ul .btn {
  font-size: 41px;
}
[data-dpr="3"] .bottom .btm-ul .btn {
  font-size: 45px;
}
[data-dpr="4"] .bottom .btm-ul .btn {
  font-size: 60px;
}
.bottom .btm-ul .btn.active {
  background-color: #FF973B;
}
.module {
  display: none;
  background-color: white;
  border: 1px solid #c3c3c3;
  position: absolute;
  bottom: 0.13888889rem;
  left: 0.27777778rem;
  right: 0.27777778rem;
}
.module .module-info .arrow {
  text-align: center;
  line-height: 0.74074074rem;
}
.module .module-info .arrow i {
  border-top: solid 5px #00a0e9;
  border-right: solid 5px #00a0e9;
  transform-origin: center center;
  transform: rotate(-45deg) translate(0, 8px);
  display: inline-block;
  width: 0.27777778rem;
  height: 0.27777778rem;
  margin: 0 auto;
}
.module .module-info .text {
  padding: 10px 20px;
}
.module .module-info .text p {
  font-size: 14px;
  line-height: 0.60185185rem;
}
[data-dpr="2"] .module .module-info .text p {
  font-size: 28px;
}
[data-dpr="2.5"] .module .module-info .text p {
  font-size: 35px;
}
[data-dpr="2.75"] .module .module-info .text p {
  font-size: 39px;
}
[data-dpr="3"] .module .module-info .text p {
  font-size: 42px;
}
[data-dpr="4"] .module .module-info .text p {
  font-size: 56px;
}
.module .module-option {
  border-top: 1px solid #c3c3c3;
}
.module .module-option span {
  float: left;
  width: 50%;
  line-height: 1.11111111rem;
  font-size: 14px;
  text-align: center;
}
[data-dpr="2"] .module .module-option span {
  font-size: 28px;
}
[data-dpr="2.5"] .module .module-option span {
  font-size: 35px;
}
[data-dpr="2.75"] .module .module-option span {
  font-size: 39px;
}
[data-dpr="3"] .module .module-option span {
  font-size: 42px;
}
[data-dpr="4"] .module .module-option span {
  font-size: 56px;
}
.module .module-option span.mo-navi {
  box-sizing: border-box;
  border-right: 1px solid #c3c3c3;
}
.slidebar {
  width: 80%;
  height: 100%;
  background-color: #FFF;
  border-right: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slidebar .slidebar-title {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #c3c3c3;
}
[data-dpr="2"] .slidebar .slidebar-title {
  font-size: 30px;
}
[data-dpr="2.5"] .slidebar .slidebar-title {
  font-size: 38px;
}
[data-dpr="2.75"] .slidebar .slidebar-title {
  font-size: 41px;
}
[data-dpr="3"] .slidebar .slidebar-title {
  font-size: 45px;
}
[data-dpr="4"] .slidebar .slidebar-title {
  font-size: 60px;
}
.slidebar .slidebar-title h2 {
  float: left;
  font-size: 15px;
  padding-left: 0.27777778rem;
  line-height: 1.11111111rem;
}
[data-dpr="2"] .slidebar .slidebar-title h2 {
  font-size: 30px;
}
[data-dpr="2.5"] .slidebar .slidebar-title h2 {
  font-size: 38px;
}
[data-dpr="2.75"] .slidebar .slidebar-title h2 {
  font-size: 41px;
}
[data-dpr="3"] .slidebar .slidebar-title h2 {
  font-size: 45px;
}
[data-dpr="4"] .slidebar .slidebar-title h2 {
  font-size: 60px;
}
.slidebar .slidebar-title a {
  float: right;
  display: inline-block;
  color: #FFF;
  line-height: 1.11111111rem;
  padding: 0 0.18518519rem;
  background-color: #00a0e9;
}
.slidebar .slidebar-content {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0.27777778rem 0 0 0.27777778rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
[data-dpr="2"] .slidebar .slidebar-content {
  font-size: 28px;
}
[data-dpr="2.5"] .slidebar .slidebar-content {
  font-size: 35px;
}
[data-dpr="2.75"] .slidebar .slidebar-content {
  font-size: 39px;
}
[data-dpr="3"] .slidebar .slidebar-content {
  font-size: 42px;
}
[data-dpr="4"] .slidebar .slidebar-content {
  font-size: 56px;
}
.slidebar .slidebar-content .list {
  color: #7E8082;
  padding: 0.18518519rem 0;
  border-bottom: 1px solid #c3c3c3;
}
